<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Salary Brackets
                <p class="pull-right"></p>
                <i class="pull-right icon-plus" [routerLink]="['/salary-brackets/addsalarybracket']"> Add Salary-Bracket</i>
              </div>
              <div class="card-body">
                <!-- <button class="btn btn-primary pull-left" (click)="onAdd()">Add New Offer</button> -->
                  <table datatable class="row-border hover table" id="example" class="" cellspacing="0" width="100%" >
                      <thead>
                        <tr>
                         
                          <th>Country</th>
                          <th>Currency</th>
                          <th>From</th>
                          <th>To</th>
                          <th>Action</th>
                        </tr>
                      </thead>
    
                      <tbody >
    
                        <tr>
                          <td>India</td>
                         <td>Rupees</td>
                        <td>15000 </td>
                        <td>35000</td>
                       
                          <td>
                            <button type="button" class="btn btn-sm btn-success" (click)="detail()"><i class="icon-eye"></i></button>
                          <button type="button" class="btn btn-sm btn-primary" (click)="edit()"><i class="icon-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="delete()"><i class="icon-trash"></i></button></td>
                        </tr>
    
                       
    
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    