<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> List Of All Offers
            <!-- <i class="icon-plus" style="float: right; font-size: 25px" [routerLink]="['/employer/add']"></i> -->
          </div>
          <div class="card-body">
              <table datatable class="table" id="example" cellspacing="0" width="100%" >
                  <thead>
                    <tr>
                      <td>Employer Name</td>
                      <th>Title</th>
                      <th>Salary Bracket</th>
                      <th>Salary Type</th>
                      <th>Expiry Date</th>
                      <th>Joining Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of offerList">
                        <td>{{employer.username}}</td>
                        <td>{{data.title}}</td>
                        <td>{{data.salarybracket}}</td>
                        <td>{{data.salarytype}}</td>
                        <td>{{data.expirydate}}</td>
                        <td>{{data.joiningdate}}</td>
                        <td>
                          <button type="button" class="btn btn-sm btn-success" [routerLink]="['/candidate/offers/offerdetail']"><i class="icon-eye"></i></button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(data._id)"><i class="icon-trash"></i></button>
                          <span tooltip="Accept" placement="top" show-delay="500"><button type="button" class="btn btn-sm btn-success"><i class="icon-check"></i></button></span>
                          <!-- <button type="button" class="btn btn-sm btn-danger"><i class="icon-trash"></i></button> -->
                        </td>
                      </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
