<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto" style="padding-top:80px;">
            <div class="card mx-6">
              <div class="card-body p-4">
                <form [formGroup]="form">
                  <h1>Forgot Password</h1>
                     <p style="color:  lightslategray;"> Please enter the email which you are using currently!!</p>
                   <label>Your Recovery Email</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-envelope-letter"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Enter your recovery email.." [(ngModel)]="formData.email" name="email" formControlName="email" email>
                    <div class="error mt-2" *ngIf="!form.controls['email'].valid && isFormSubmited">
                      <span *ngIf="form.controls['email'].errors.required">Email is required.</span>
                      <span *ngIf="form.controls['email'].errors.email">Email must be in valid format.</span>
                    </div>
                  </div>
                  <button type="button" class="btn btn-block btn-primary mt-4" (click)="sendMail(form.valid)">Send mail</button>
                  <div class="col-10">
                    <button type="button" class="btn btn-link px-0" (click)="Onclick()"> << Back to Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
