<div class="animated fadeIn">

    <div class="row">

        <div class="col-md-2 well profile-user-pic">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo"
                            class="img-circle img-thumbnail">
                        <h2>Hire Commite</h2>
                        <label> Email: <a href="/"> ABC@gmail.com</a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 well profile-user-info">
            <div class="row">

                <div class="col-md-12">
                    <form role="form">
                        <div class="card-body">
                            <h4> Company Details</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Company Name</td>
                                        <td>Hire Commite</td>
                                    </tr>
                                    <tr>
                                        <td>Website</td>
                                        <td>Hirecommite@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Company Person Name</td>
                                        <td>ABC</td>
                                    </tr>

                                    <tr>
                                        <td>Contact Number</td>
                                        <td>+91-6565656565</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
