<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <!-- <div class="animated fadeIn"> -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Sign Up</strong>
                        </div>
                        <div class="card-body">
                            <!-- <div class="container"> -->
                            <div id="stepper1" class="bs-stepper">
                                <div class="bs-stepper-header">
                                    <div class="step" data-target="#test-l-1">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">Step</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#test-l-2">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">Step</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#test-l-3">
                                        <button class="step-trigger">
                                            <span class="bs-stepper-circle">3</span>
                                            <span class="bs-stepper-label">Step</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <form (ngSubmit)="onSubmit()">
                                        <div id="test-l-1" class="content">
                                            <!-- <h1>Signing Up...</h1> -->
                                            <!-- <p class="text-muted">Create a password to continue</p> -->
                                            <label>Your Work Email</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="icon-envelope-letter"></i></span>

                                                </div>
                                                <input type="text" class="form-control"
                                                    placeholder="yourname@companyname.com" autocomplete="email"
                                                    required>
                                            </div>

                                            <label>Create a Password</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                                </div>
                                                <input type="password" class="form-control"
                                                    placeholder="Min 8 char,1 letter & 1 number"
                                                    autocomplete="new-password" required>
                                            </div>
                                              <div class="input-group mb-3">
                                                <form [formGroup]="aFormGroup">
                                                  <ngx-recaptcha2 #captchaElem
                                                    [siteKey]="siteKey"
                                                    formControlName="recaptcha">
                                                  </ngx-recaptcha2>
                                                </form>
                                              </div>
                                            <p>By signing up you agree to our <a href="#">privacy policy</a> and <a
                                                    href="#">terms of use</a> </p>
                                            <!-- <button type="button" class="btn btn-block btn-primary" (click)="onCreatAccount()">Create
                                                  Account</button> -->
                                            <button (click)="next()" class="btn btn-primary">Next</button>
                                        </div>

                                        <div id="test-l-2" class="content">
                                                <div class="form-group row">
                                                    <label class="col-md-4 col-form-label" for="country">Country</label>
                                                    <div class="col-md-8">
                                                        <select id="country" name="country" class="form-control">
                                                        <option value="0">Please select</option>
                                                        <option value="India">India</option>
                                                        <option value="USA">USA</option>
                                                        <option value="Shri Lanka">Shri Lanka</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-4 col-form-label" for="bType">Business Type</label>
                                                    <div class="col-md-8">
                                                        <select id="bType" name="bType" class="form-control">
                                                        <option value="0">Please select</option>
                                                        <option value="Private">Private</option>
                                                        <option value="Individual">Individual</option>
                                                           <option value="Partnership">Partnership</option>
                                                        </select>
                                                    </div>
                                                </div>


                                            <button (click)="next()" class="btn btn-primary">Next</button>
                                        </div>
                                        <div id="test-l-3" class="content text-center">
                                            <h5>Need Your Bussiness Details</h5>

                                            <h5 style="padding-top: 15px;">Company</h5>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Company Name"
                                                    autocomplete="email" required>

                                            </div>

                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-globe"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Website"
                                                    autocomplete="email" required>
                                                </div>
                                                <p class="pull-left" style="color: rgb(167, 167, 167); font-size: 100%;">Leave blank if anavailable</p>
                                                <br><br>



                                            <h5>Contact Details</h5>

                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Your Name"
                                                    autocomplete="email" required>

                                            </div>


                                            <div  class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-phone"></i></span>
                                                </div>
                                                <div class="col-md-4">

                                                        <select id="CountryCode" name="CountryCode" class="form-control">
                                                        <option value="+91" selected>+91</option>
                                                        <option value="+92">+92</option>
                                                        <option value="+44">+44</option>
                                                           <option value="+1">+1</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control"
                                                        placeholder="10-digit number" autocomplete="mobilenumber" required>
                                                      </div>
                                                </div>
                                            <button type="submit" class="btn btn-primary mt-5"
                                                (click)="onLogin()">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </main>
</div>
