<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong style="font-size: 20px;">{{panelTitle}} Offer</strong>
                    <!-- <span class="input-group-text pull-right" [routerLink]="cancel_link">
                        <i class="icon-close"></i>
                    </span> -->
                </div>
                <form class="form-horizontal" [formGroup]="form">

                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="candidate">Select Candidate</label>
                            <div class="col-md-2">
                                <p-dropdown [options]="candidateList" placeholder="Select Candidate"
                                    formControlName="candidate" id="candidate" #candidate
                                    (onChange)="findEmail($event)">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['candidate'].valid">
                                    <span *ngIf="form.controls['candidate'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="email">Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Enter Email" autocomplete="email"
                                    formControlName="email" id="email">
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['email'].valid">
                                    <span *ngIf="form.controls['email'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                    <span *ngIf="form.controls['email'].errors['email']" class="text-danger">
                                        Email must be in valid format.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="title">Title</label>
                            <div class="col-md-6">
                                <input type="title" class="form-control" placeholder="Enter Name" autocomplete="title"
                                    formControlName="title" id="title">
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['title'].valid">
                                    <span *ngIf="form.controls['title'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="title">Salary Type</label>
                            <div class="col-md-6">
                                <div class="custom-radio-wrap">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="annual" class="custom-control-input" value="annual"
                                            name="salarytype" formControlName="salarytype" (change)="getSalaryType()">
                                        <label class="custom-control-label" for="annual">Annual</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="hourly" class="custom-control-input" value="hourly"
                                            name="salarytype" formControlName="salarytype" (change)="getSalaryType()">
                                        <label class="custom-control-label" for="hourly">Hourly</label>
                                    </div>
                                </div>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['salarytype'].valid">
                                    <span *ngIf="form.controls['salarytype'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salaryduration">Hourly Salary Duration</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="salary_duration_optoins" formControlName="salaryduration"
                                    id="salaryduration" [disabled]="!(form.controls['salarytype'].value === 'hourly')">
                                </p-dropdown>
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="country">Country</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="countryList" placeholder="Select Country"
                                    formControlName="country" id="country" #country (onChange)="findData($event)">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['country'].valid">
                                    <span *ngIf="form.controls['country'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="location">Location</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="location" optionLabel="city" optionValue="_id"
                                    formControlName="location" id="location" placeholder="Select location"></p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['location'].valid">
                                    <span *ngIf="form.controls['location'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="currency_type">Currency Type</label>
                            <div class="col-md-6">
                                <input type="text" id="currency_type" name="currency_type"
                                    formControlName="currency_type" class="form-control"
                                    placeholder="Select CurrencyType" disabled>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['currency_type'].valid">
                                    <span *ngIf="form.controls['currency_type'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salarybracket">Salary Bracket</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="salarybracketList" formControlName="salarybracket"
                                    id="salarybracket" placeholder="Select Salary Bracket">
                                </p-dropdown>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['salarybracket'].valid">
                                    <span *ngIf="form.controls['salarybracket'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="joiningdate">Joining Date</label>
                            <div class="col-md-6">
                                <p-calendar dateFormat="dd/mm/yy" placeholder="DD/MM/YYYY" formControlName="joiningdate"
                                    id="joiningdate">
                                </p-calendar>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['joiningdate'].valid">
                                    <span *ngIf="form.controls['joiningdate'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="expirydate">Expiry Date</label>
                            <div class="col-md-6">
                                <p-calendar dateFormat="dd/mm/yy" placeholder="DD/MM/YYYY" formControlName="expirydate"
                                    id="expirydate">
                                </p-calendar>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['expirydate'].valid">
                                    <span *ngIf="form.controls['expirydate'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="offertype">Offer Type</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="offer_type_optoins" formControlName="offertype" id="offertype">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['offertype'].valid">
                                    <span *ngIf="form.controls['offertype'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="group">Group</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="group_optoins" optionLabel="name" optionValue="_id"
                                    formControlName="group" placeholder="Select Group" id="group">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['group'].valid">
                                    <span *ngIf="form.controls['group'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm btn-primary" style="float: right;"
                                    (click)="addMoreCommunication()" [disabled]="is_disabled_btn">
                                    Add More Communication
                                </button>
                            </div>
                        </div>

                        <!-- communication -->
                        <ng-container formArrayName="communicationFieldItems">
                            <div class="form-group row" formGroupName="{{i}}"
                                *ngFor="let customfield of communicationData; let i=index">
                                <div class="col-md-12 mt-3">
                                    <div class="card">

                                        <div class="card-header h5">Record - {{i+1}}
                                            <span class="input-group-text pull-right" *ngIf="i < 1"
                                                (click)="add_new_communication(i)"><i class="icon-plus"></i></span>
                                            <span class="input-group-text pull-right" *ngIf="i > 0"
                                                (click)="remove_communication(i)"><i class="icon-minus"></i></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="name">
                                                    Communication Name
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="Enter name"
                                                        formControlName="communicationname" id="communicationname"
                                                        [(ngModel)]="customfield.communicationname">
                                                    <div
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['communicationname'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['communicationname'].errors['required']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>
                                                <label class="col-md-1 col-form-label" for="trigger">Trigger</label>
                                                <div class="col-md-4">
                                                    <select id="trigger" name="select1" class="form-control"
                                                        formControlName="trigger" [(ngModel)]="customfield.trigger">
                                                        <option value="" selected="selected">Please select trigger
                                                        </option>
                                                        <option value="beforeJoining">Before Joining</option>
                                                        <option value="afterJoining">After Joining</option>
                                                        <option value="afterOffer">After Offer</option>
                                                        <option value="beforeExpiry">Before Expiry</option>
                                                        <option value="afterExpiry">After Expiry</option>
                                                    </select>


                                                    <div
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['trigger'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['trigger'].errors['required']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="day">Day</label>
                                                <div class="col-md-4">
                                                    <input type="text" id="day" name="day" class="form-control"
                                                        placeholder="Enter Days" formControlName="day"
                                                        [(ngModel)]="customfield.day">

                                                    <div
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['day'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['day'].errors['required']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>

                                                <label class="col-md-1 col-form-label" for="trigger">Priority</label>
                                                <div class="col-md-4">
                                                    <select id="priority" name="select1" class="form-control"
                                                        formControlName="priority" [(ngModel)]="customfield.priority">
                                                        <option value="" selected="selected">Please select priority
                                                        </option>
                                                        <option value="High">High</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Low">Low</option>
                                                    </select>
                                                    <div
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['priority'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['priority'].errors['required']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="message">Message</label>
                                                <div class="col-md-9">
                                                    <ckeditor [editor]="Editor" formControlName="message"
                                                        [(ngModel)]="customfield.message" (ready)="onReady($event)">
                                                    </ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- communication -->

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="commitstatus">Commit Status
                            </label>
                            <div class="col-md-6">
                                <p-dropdown [options]="commitstatus_optoins" formControlName="commitstatus"
                                    id="commitstatus">
                                </p-dropdown>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['commitstatus'].valid">
                                    <span *ngIf="form.controls['commitstatus'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="notes">Notes</label>
                            <div class="col-md-6">
                                <textarea type="notes" class="form-control" placeholder="Enter notes"
                                    autocomplete="notes" formControlName="notes" id="notes" maxlength="300" rows="4"
                                    style=" overflow-y: scroll;"></textarea>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['notes'].valid">
                                </div>
                            </div>
                        </div>

                        <ng-container formArrayName="customfieldItem">
                            <div class="form-group row" formGroupName="{{i}}"
                                *ngFor="let customfield of offer_data.customfieldItem; let i=index">
                                <label class="col-md-3 col-form-label" for="customfield.key">
                                    {{customfield.key}}
                                </label>
                                <div class="col-md-6">
                                    <input type="text" formControlName="value" class="form-control"
                                        placeholder="Enter value" id="value">
                                </div>
                            </div>
                        </ng-container>

                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit(form.valid)"
                            [disabled]="show_spinner">
                            Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                        <button type="reset" class="btn btn-sm btn-danger" [routerLink]="cancel_link">
                            Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- {{form.value | json}} -->