<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <!-- add-edit -->
            <div class="card" *ngIf="!is_View">
                <div class="card-header">
                    <strong style="font-size: 20px;">{{panelTitle}} Offer</strong>
                    <!-- <span class="input-group-text pull-right" [routerLink]="cancel_link">
                        <i class="icon-close"></i>
                    </span> -->
                </div>
                <form class="form-horizontal" [formGroup]="form">

                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="candidate">Select Candidate</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="candidateList" placeholder="Select Candidate"
                                    formControlName="candidate" [style]="{'width':'100%'}" id="candidate" #candidate
                                    (onChange)="findEmail($event)" [disabled]="is_Edit">
                                </p-dropdown>

                                <!-- <p-dropdown *ngIf="!is_Edit" [options]="candidateList" placeholder="Select Candidate"
                                    formControlName="candidate" [style]="{'width':'100%'}" id="candidate" #candidate
                                    (onChange)="findEmail($event)">
                                </p-dropdown> -->
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['candidate'].valid">
                                    <span *ngIf="form.controls['candidate'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="email">Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Enter Email" autocomplete="email"
                                    formControlName="email" id="email" disabled>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['email'].valid">
                                    <span *ngIf="form.controls['email'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                    <span *ngIf="form.controls['email'].errors['email']" class="text-danger">
                                        Email must be in valid format.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="title">Title</label>
                            <div class="col-md-6">
                                <input type="title" class="form-control" placeholder="Enter Title" autocomplete="title"
                                    formControlName="title" id="title">
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['title'].valid">
                                    <span
                                        *ngIf="form.controls['title'].errors['required'] || form.get('title').errors['whitespace']"
                                        class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salarytype">Salary Type</label>
                            <div class="col-md-6">
                                <div class="custom-radio-wrap d-flex flex-warp">
                                    <div class="custom-control custom-radio mr-5">
                                        <input type="radio" id="annual" class="custom-control-input" value="annual"
                                            name="salarytype" formControlName="salarytype" (change)="getSalaryType()">
                                        <label class="custom-control-label" for="annual">Annual</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="hourly" class="custom-control-input" value="hourly"
                                            name="salarytype" formControlName="salarytype" (change)="getSalaryType()">
                                        <label class="custom-control-label" for="hourly">Hourly</label>
                                    </div>
                                </div>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['salarytype'].valid">
                                    <span *ngIf="form.controls['salarytype'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salaryduration">Hourly Salary Duration</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="salary_duration_optoins" formControlName="salaryduration"
                                    id="salaryduration" [style]="{'width':'100%'}"
                                    [disabled]="!(form.controls['salarytype'].value === 'hourly')">
                                </p-dropdown>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['salaryduration'].valid">
                                    <span *ngIf="form.controls['salaryduration'].errors['required']"
                                        class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="country">Country</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="countryList" placeholder="Select Country"
                                    formControlName="country" id="country" #country (onChange)="findData($event)">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['country'].valid">
                                    <span *ngIf="form.controls['country'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="location">Location</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="location" [style]="{'width':'100%'}" optionLabel="city"
                                    optionValue="_id" formControlName="location" id="location"
                                    placeholder="Select location"></p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['location'].valid">
                                    <span *ngIf="form.controls['location'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="currency_type">Currency Type</label>
                            <div class="col-md-6">
                                <input type="text" id="currency_type" name="currency_type"
                                    formControlName="currency_type" class="form-control"
                                    placeholder="Select CurrencyType" disabled>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['currency_type'].valid">
                                    <span *ngIf="form.controls['currency_type'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div> -->

                        <!--  salary bracket dropdown -->
                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salarybracket">Salary Bracket</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="salarybracketList" formControlName="salarybracket"
                                    id="salarybracket" placeholder="Select Salary Bracket">
                                </p-dropdown>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['salarybracket'].valid">
                                    <span *ngIf="form.controls['salarybracket'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div> -->
                        <!--  salary bracket dropdown -->

                        <!--  input salary bracket -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salarybracket">Salary</label>
                            <div class="col-md-6">
                                <input type="number" min="1" class="form-control" placeholder="Enter Salary"
                                    formControlName="salarybracket" id="salarybracket" (blur)="onSalaryBlur()">
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['salarybracket'].valid">
                                    <span *ngIf="form.controls['salarybracket'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                    <span
                                        *ngIf="form.controls['salarybracket'].errors['pattern'] || !form.controls['salarybracket'].errors['required']"
                                        class="text-danger">Only Positive
                                        Number</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salarybracket_from">Salary From</label>
                            <div class="col-md-6">
                                <input type="number" min="1" class="form-control" placeholder="Enter from Salary"
                                    formControlName="salarybracket_from" id="salarybracket_from"
                                    (blur)="onSalaryRangeBlur()">
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['salarybracket_from'].valid">
                                    <span *ngIf="form.controls['salarybracket_from'].errors['required']"
                                        class="text-danger">
                                        This field is required.
                                    </span>
                                    <span
                                        *ngIf="form.controls['salarybracket_from'].errors['pattern'] || !form.controls['salarybracket_from'].errors['required']"
                                        class="text-danger">Only Positive
                                        Number</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="salarybracket_to">Salary To</label>
                            <div class="col-md-6">
                                <input type="number" min="1" class="form-control" placeholder="Enter to Salary"
                                    formControlName="salarybracket_to" id="salarybracket_to"
                                    (blur)="onSalaryRangeBlur()">
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['salarybracket_to'].valid">
                                    <span *ngIf="form.controls['salarybracket_to'].errors['required']"
                                        class="text-danger">
                                        This field is required.
                                    </span>
                                    <span
                                        *ngIf="form.controls['salarybracket_to'].errors['pattern'] || !form.controls['salarybracket_to'].errors['required']"
                                        class="text-danger">Only Positive
                                        Number</span>
                                </div>
                            </div>
                        </div>
                        <!--  input salary bracket -->

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="joiningdate">Joining Date</label>
                            <div class="col-md-6">
                                <p-calendar dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                                    [inputStyle]="{'width':'100%'}" placeholder="DD/MM/YYYY"
                                    formControlName="joiningdate" id="joiningdate" [readonlyInput]="is_View"
                                    [disabled]="is_View" [minDate]="min_date" (onClose)="getJoiningDate()">
                                </p-calendar>
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['joiningdate'].valid">
                                    <span *ngIf="form.controls['joiningdate'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="expirydate">Expiry Date</label>
                            <div class="col-md-6">
                                <p-calendar dateFormat="dd/mm/yy" [style]="{'width':'100%'}"
                                    [inputStyle]="{'width':'100%'}" placeholder="DD/MM/YYYY"
                                    formControlName="expirydate" id="expirydate" [readonlyInput]="is_View"
                                    [disabled]="is_View" [minDate]="min_date">
                                </p-calendar>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['expirydate'].valid">
                                    <span *ngIf="form.controls['expirydate'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="is_Edit">
                            <label class="col-md-3 col-form-label">Current Status</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" autocomplete="status" formControlName="status"
                                    disabled id="status">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="offertype">Offer Type</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="offer_type_optoins" [style]="{'width':'100%'}"
                                    formControlName="offertype" id="offertype">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['offertype'].valid">
                                    <span *ngIf="form.controls['offertype'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="group">Group</label>
                            <div class="col-md-6">
                                <p-dropdown [options]="group_optoins" [style]="{'width':'100%'}" optionLabel="name"
                                    optionValue="_id" formControlName="group" placeholder="Select Group" id="group"
                                    (onChange)="forCommit($event)">
                                </p-dropdown>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['group'].valid">
                                    <span *ngIf="form.controls['group'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm btn-primary" style="float: right;"
                                    (click)="addMoreCommunication()" [disabled]="is_disabled_btn">
                                    Add More Communication
                                </button>
                            </div>
                        </div>

                        <!-- communication -->
                        <ng-container formArrayName="communicationFieldItems">
                            <div class="form-group row" formGroupName="{{i}}"
                                *ngFor="let customfield of communicationData; let i=index">
                                <div class="col-md-12 mt-3">
                                    <div class="card">

                                        <div class="card-header h5">Record - {{i+1}}
                                            <span class="input-group-text pull-right" *ngIf="i < 1"
                                                (click)="add_new_communication(i)"><i class="icon-plus"></i></span>
                                            <span class="input-group-text pull-right" *ngIf="i > 0"
                                                (click)="remove_communication(i)"><i class="icon-minus"></i></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="name">
                                                    Communication Name
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="Enter name"
                                                        formControlName="communicationname" id="communicationname"
                                                        [(ngModel)]="customfield.communicationname">
                                                    <div class="cust_err_msg"
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['communicationname'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['communicationname'].errors['required'] ||
                                                            form.controls['communicationFieldItems'].controls[i].controls['communicationname'].errors['whitespace']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>
                                                <label class="col-md-1 col-form-label" for="trigger">Trigger</label>
                                                <div class="col-md-4">
                                                    <select id="trigger" name="select1" class="form-control"
                                                        formControlName="trigger" [(ngModel)]="customfield.trigger">
                                                        <option value="" selected="selected">Please select trigger
                                                        </option>
                                                        <option value="beforeJoining">Before Joining</option>
                                                        <option value="afterJoining">After Joining</option>
                                                        <option value="afterOffer">After Offer</option>
                                                        <option value="beforeExpiry">Before Expiry</option>
                                                        <option value="afterExpiry">After Expiry</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="day">Day</label>
                                                <div class="col-md-4">
                                                    <input type="number" min="1" id="day" name="day"
                                                        class="form-control" placeholder="Enter Days"
                                                        formControlName="day" [(ngModel)]="customfield.day">

                                                    <div class="cust_err_msg"
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['day'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['day'].errors['required']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['day'].errors['pattern']"
                                                            class="text-danger">Only Positive
                                                            Number</span>
                                                    </div>
                                                </div>


                                                <label class="col-md-1 col-form-label" for="trigger">Priority</label>
                                                <div class="col-md-4">
                                                    <select id="priority" name="select1" class="form-control"
                                                        formControlName="priority" [(ngModel)]="customfield.priority">
                                                        <option value="" selected="selected">Please select
                                                            priority
                                                        </option>
                                                        <option value="High">High</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Low">Low</option>
                                                    </select>
                                                    <div class="cust_err_msg"
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['priority'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['priority'].errors['required']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="message">Message</label>
                                                <div class="col-md-9">
                                                    <ckeditor [editor]="Editor" formControlName="message"
                                                        [(ngModel)]="customfield.message" (ready)="onReady($event)">
                                                    </ckeditor>
                                                    <div class="cust_err_msg"
                                                        *ngIf="form_validation && !form.controls['communicationFieldItems'].controls[i].controls['message'].valid">
                                                        <span
                                                            *ngIf="form.controls['communicationFieldItems'].controls[i].controls['message'].errors['required'] ||
                                                        form.controls['communicationFieldItems'].controls[i].controls['message'].errors['whitespace']"
                                                            class="text-danger">
                                                            This field is required.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- communication -->
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="commitstatus">Commit Status
                            </label>
                            <div class="col-md-6">
                                <p-dropdown [options]="commitstatus_optoins" [style]="{'width':'100%'}"
                                    optionValue="value" optionLabel="lable" formControlName="commitstatus"
                                    id="commitstatus" placeholder="Please Select Commit Status"
                                    (onChange)="check($event)">
                                </p-dropdown>

                                <!-- <p-dropdown [options]="offerStatus" [style]="{'width':'100%'}" optionLabel="label"
                                    optionValue="value" formControlName="offerStatus" id="offerStatus"
                                    placeholder="Please Select Status"> -->
                                <div class="cust_err_msg"
                                    *ngIf="form_validation && !form.controls['commitstatus'].valid">
                                    <span *ngIf="form.controls['commitstatus'].errors['required']" class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="notes">Notes</label>
                            <div class="col-md-6">
                                <textarea type="notes" class="form-control" placeholder="Enter notes"
                                    autocomplete="notes" formControlName="notes" id="notes" maxlength="300" rows="4"
                                    style=" overflow-y: scroll;"></textarea>
                                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['notes'].valid">
                                </div>
                            </div>
                        </div>

                        <!-- Custom Field -->
                        <ng-container formArrayName="customfieldItem">
                            <div class="form-group row" formGroupName="{{i}}"
                                *ngFor="let customfield of offer_data.customfieldItem; let i=index">
                                <label class="col-md-3 col-form-label" for="customfield.key">
                                    {{customfield.key |titlecase}}
                                </label>
                                <div class="col-md-6">
                                    <input type="text" formControlName="value" class="form-control"
                                        placeholder="Enter value" id="value">

                                    <div class="cust_err_msg"
                                        *ngIf="form_validation && !form.controls['customfieldItem'].controls[i].controls['value'].valid">
                                        <span
                                            *ngIf="form.controls['customfieldItem'].controls[i].controls['value'].errors['_whitespace']"
                                            class="text-danger">
                                            Enter valid data.
                                        </span>
                                    </div>


                                </div>
                            </div>
                        </ng-container>
                        <!-- Custom Field -->

                        <div class="form-group row" *ngIf="is_Edit">
                            <label class="col-md-3 col-form-label" for="offerStatus">Offer Status</label>
                            <div class=" col-md-6">
                                <!-- <p-inputSwitch [(ngModel)]="offerStatus" formControlName="is_active" name="is_active">
                                </p-inputSwitch> -->

                                <p-dropdown [options]="offerStatus" [style]="{'width':'100%'}" optionLabel="label"
                                    optionValue="value" formControlName="offerStatus" id="offerStatus"
                                    placeholder="Please Select Status">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-md btn-primary" (click)="onSubmit(form.valid)"
                            [disabled]="show_spinner">
                            Submit <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
                        <button type="reset" class="btn btn-md btn-danger" (click)='cancel()'>
                            Cancel</button>
                    </div>

                </form>
            </div>
            <!-- add-edit -->

            <!-- view -->
            <div class="card" *ngIf="is_View">
                <div class="card-header">
                    <strong style="font-size: 20px;">View Offer</strong>
                </div>
                <div class="card-body detail-box" *ngIf="resData">
                    <div class="row detail-panel"
                        *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">
                        <div class="col-md-3 detail-label">
                            Candidate Name
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.candidate_name}}
                        </div>
                    </div>
                    <div class="row detail-panel"
                        *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">
                        <div class="col-md-3 detail-label">
                            Candidate Email
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.candidate_email}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Title
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.title}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Salary Type
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.salarytype}}
                        </div>
                    </div>
                    <div class="row detail-panel" *ngIf="resData.salaryduration && resData.salaryduration !== 'null'">
                        <div class="col-md-3 detail-label">
                            Hourly Salary Duration
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.salaryduration}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Location
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.location.city}}
                        </div>
                    </div>
                    <div class="row detail-panel" *ngIf="resData.salary">
                        <div class="col-md-3 detail-label">
                            Salary
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.salary}}
                        </div>
                    </div>
                    <div class="row detail-panel" *ngIf="resData.salary_from">
                        <div class="col-md-3 detail-label">
                            Salary From
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.salary_from}}
                        </div>
                    </div>
                    <div class="row detail-panel" *ngIf="resData.salary_to">
                        <div class="col-md-3 detail-label">
                            Salary To
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.salary_to}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Joining Date
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.joiningdate | date: 'dd/MM/yyyy': 'utc'}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Expiry Date
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.expirydate | date: 'dd/MM/yyyy': 'utc'}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Current Status
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.status}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Offer Type
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.offertype}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Group
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.groupName}}
                        </div>
                    </div>


                    <!-- communication -->
                    <div class="row" *ngIf="resData.communication">
                        <div class="col-md-12 mt-3" *ngFor="let communication of resData.communication;  let i = index">
                            <div class="card">
                                <div class="card-header h5">Record - {{i+1}} </div>
                                <div class="card-body">
                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">
                                            Communication Name
                                        </label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.communicationname}}
                                        </div>
                                        <label class="col-md-2 detail-label">Trigger</label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.trigger}}
                                        </div>
                                    </div>
                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">
                                            Day
                                        </label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.day}}
                                        </div>
                                        <label class="col-md-2 detail-label">Priority</label>
                                        <div class="col-md-4 detail-input">
                                            {{communication.priority}}
                                        </div>
                                    </div>
                                    <div class="row detail-panel">
                                        <label class="col-md-2 detail-label">Message</label>
                                        <div class="col-md-9 detail-input">
                                            <ckeditor [editor]="Editor" [(ngModel)]="communication.message"
                                                [ngModelOptions]="{standalone: true}" [disabled]="true">
                                            </ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- communication -->


                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Commit Status
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.commitstatus}}
                        </div>
                    </div>
                    <div class="row detail-panel">
                        <div class="col-md-3 detail-label">
                            Notes
                        </div>
                        <div class="col-md-6 detail-input">
                            {{resData.notes}}
                        </div>
                    </div>
                    <!-- custom fields -->
                    <div class="row detail-panel" *ngFor="let field of resData.customfeild">
                        <div class="col-md-3 detail-label">
                            {{field.key|titlecase}}
                        </div>
                        <div class="col-md-6 detail-input">
                            {{field.value ? field.value : '-'}}
                        </div>
                    </div>
                    <!-- custom fields -->
                </div>
                <div class="card-footer text-right">

                    <button *ngIf="userDetail.role === 'candidate'" type="button" class="btn btn-md btn-success"
                        (click)="Accept(resData._id)" [disabled]="resData.status === 'Accepted'">
                        Accept</button>
                    <button type="button" class="btn btn-md btn-primary" (click)='cancel()'>
                        Back</button>
                </div>
            </div>
            <!-- view -->

        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
