<div class="animated fadeIn">

    <div class="row">

        <div class="col-md-4 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body" style="margin: 8px 30px 31px 48px;">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail"
                            height="150px" width="150px">
                        <h2 style="padding-left: 30px;">Hire Commit</h2>
                        <label style="padding-left: 30px;"> Email: <a href="/"> HireCommit@gmail.com</a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 well">
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>
                                            <h5> Company Details</h5>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>Company Name</td>
                                        <td>Hire Commit </td>
                                    </tr>
                                    <tr>
                                        <td>Website</td>
                                        <td>hirecommit@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>Company Person Name</td>
                                        <td>ABC</td>
                                    </tr>

                                    <tr>
                                        <td>Contact Number</td>
                                        <td>+91-6565656565</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>