<div class="animated fadeIn">
    <div *ngIf="userType === 'employer'" class="row profiledata-info">
        <div class="col-md-3 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>{{profileData.username}}</h2>
                        <label> Email: <a href="/">{{profileData.email}} </a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form role="form">
                            <div class="card-header"><strong>Company Details</strong></div>
                            <div class="card-body">

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle">Company Name</td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="profileData.companyname"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Website</td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="profileData.website"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle">Country</td>
                                            <td>
                                                <input type="text" class="form-control" disabled="true"
                                                    [(ngModel)]="profileData.country"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle">Business Type</td>
                                            <td>
                                                <input type="text" [(ngModel)]="profileData.name" class="form-control"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle">Company Person Name</td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    [(ngModel)]="profileData.username"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="align-middle">Contact Number</td>
                                            <td>
                                                <div class="d-flex flex-warp">
                                                    <input type="text" class="form-control countrycode-input"
                                                        disabled="" value="{{profileData.countrycode}}">
                                                    <input type="text" class="form-control countryno-input"
                                                        [(ngModel)]="profileData.contactno"
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-right">
                                                <button type="submit" class="btn btn-primary"
                                                    (click)=edit(profileData.user_id)>Submit</button>
                                                <button type="button" class="btn btn-danger"
                                                    (click)='cancel()'>Close</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //candidate -->
    <div *ngIf="userType === 'candidate'" class="row profiledata-info">
        <div class="col-md-3 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>{{profileData.firstname}} {{profileData.lastname}}</h2>
                        <label> Email: <a href="/">{{profileData.email}} </a></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form role="form">
                            <div class="card-header"><strong>Personal Details</strong></div>
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Country</td>
                                            <td>
                                                <input type="text" class="form-control" disabled=""
                                                    [(ngModel)]="profileData.country"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Contact Number</td>
                                            <td>
                                                <div class="d-flex flex-warp">
                                                    <input type="text" class="form-control countrycode-input"
                                                        disabled="" value="{{profileData.countrycode}}">
                                                    <input type="text" class="form-control countryno-input"
                                                        [(ngModel)]="profileData.contactno"
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Document Type</td>
                                            <td>
                                                <input type="text" class="form-control" disabled=""
                                                    [(ngModel)]="profileData.name"
                                                    [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Document Image</td>
                                            <td>

                                                <img src="{{image + profileData.documentimage}}" disabled=""
                                                    style="height: 100px; width:100px;;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-right">
                                                <button type="submit" class="btn btn-primary"
                                                    (click)='candidate_profile(profileData.user_id)'>Submit</button>
                                                <button type="button" class="btn btn-danger"
                                                    (click)='cancel1()'>Close</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- //sub-employer -->
    <!-- 
    <div *ngIf="userType === 'sub-employer'" class="row profiledata-info">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.valid)"> 
        <div class="col-md-3 well">
            <div class="row">
                <div class="card text-black col-sm-12">
                    <div class="card-body">
                        <img src="assets/img/user.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <label>Name </label><br>
                        <label> Email </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 well">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form role="form">
                            <div class="card-header"><strong>Personal Details</strong></div>
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Country</td>
                                            <td>
                                                 <p-dropdown [options]="countryList" placeholder="Select Country"
                                                        formControlName="country" [(ngModel)]="profileForm.country"
                                                        id="country" (onChange)="getCode($event)" [required]>
                                                    </p-dropdown> 
                                              <div class="error"
                                                        *ngIf="!profileForm.controls['country'].valid && isFormSubmitted">
                                                        <span
                                                            *ngIf="profileForm.controls['country'].errors['required']">This
                                                            field is required.</span>
                                                    </div> 
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Contact Number</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Document Type</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>Document Image</td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div> -->