<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 20px;">{{panelTitle}} Offer</strong>
          <span class="input-group-text pull-right" (click)="onClose()"><i class="icon-close"></i></span>
        </div>
        <form class="form-horizontal" [formGroup]="form">

          <div class="card-body">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email">Email</label>
              <div class="col-md-6">
                <input type="email" class="form-control"  placeholder="Enter Email" autocomplete="email"
                  formControlName="email" id="email" [(ngModel)]="offer_data.email">
                  <div class="cust_err_msg"
                  *ngIf="form_validation && !form.controls['email'].valid">
                  <span *ngIf="form.controls['email'].errors['required']" class="text-danger">
                    This field is required.
                  </span>
                  <span *ngIf="form.controls['email'].errors['email']" class="text-danger">
                      Please enter valid data.
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name">Name</label>
                <div class="col-md-6">
                  <input type="name" class="form-control"  placeholder="Enter Name" autocomplete="name"
                    formControlName="name" id="name" [(ngModel)]="offer_data.name">
                    <div class="cust_err_msg"
                    *ngIf="form_validation && !form.controls['name'].valid">
                    <span
                      *ngIf="form.controls['name'].errors['required']" class="text-danger">This field is required.</span>
                  </div>
                </div>
              </div>


              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="title">Title</label>
                  <div class="col-md-6">
                    <input type="title" class="form-control"  placeholder="Enter Name" autocomplete="title"
                      formControlName="title" id="title" [(ngModel)]="offer_data.title">
                      <div class="cust_err_msg"
                      *ngIf="form_validation && !form.controls['title'].valid">
                      <span
                        *ngIf="form.controls['title'].errors['required']" class="text-danger">This field is required.</span>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="title">Salary Type</label>
                    <div class="col-md-6">

                      <div class="custom-radio-wrap">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="annual" class="custom-control-input" value="annual" name="salarytype" formControlName="salarytype"  [(ngModel)]="offer_data.salarytype">
                            <label class="custom-control-label" for="annual">Annual</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="hourly" class="custom-control-input" value="hourly" name="salarytype" formControlName="salarytype"   [(ngModel)]="offer_data.salarytype" >
                            <label class="custom-control-label" for="hourly">Hourly</label>
                        </div>
                       </div>

                        <div class="cust_err_msg"
                        *ngIf="form_validation && !form.controls['salarytype'].valid">
                        <span
                          *ngIf="form.controls['salarytype'].errors['required']" class="text-danger">This field is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row" >
                    <label class="col-md-3 col-form-label" for="salaryduration">Hourly Salary Duration</label>
                    <div class="col-md-6">

                        <p-dropdown [options]="salary_duration_optoins" formControlName="salaryduration" id="salaryduration"  [(ngModel)]="offer_data.salaryduration" [disabled]="!(offer_data.salarytype === 'hourly')"></p-dropdown>

                        <div class="cust_err_msg"
                        *ngIf="form_validation && !form.controls['salaryduration'].valid">
                        <span
                          *ngIf="form.controls['salaryduration'].errors['required']" class="text-danger">This field is required.</span>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="country">Country</label>
                    <div class="col-md-6">

                        <p-dropdown [options]="contryList" formControlName="country" id="country"  [(ngModel)]="offer_data.country" (onChange)="findCities()" (select)="selectCountry($event)" ></p-dropdown>

                        <div class="cust_err_msg"
                        *ngIf="form_validation && !form.controls['country'].valid">
                        <span
                          *ngIf="form.controls['country'].errors['required']" class="text-danger">This field is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="location">Location</label>
                    <div class="col-md-6">

                        <p-dropdown [options]="location" optionLabel="city" optionValue="_id" formControlName="location" id="location"  [(ngModel)]="offer_data.location" ></p-dropdown>

                        <div class="cust_err_msg"
                        *ngIf="form_validation && !form.controls['location'].valid">
                        <span
                          *ngIf="form.controls['location'].errors['required']" class="text-danger">This field is required.</span>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="currency_type">Currency Type</label>
                    <div class="col-md-6">

                      <input type="text"  id="currency_type" name="currency_type" formControlName="currency_type" [value]="currency['currency']"
                      class="form-control" placeholder="Currency Type" disabled>

                        <div class="cust_err_msg"
                        *ngIf="form_validation && !form.controls['currency_type'].valid">
                        <span
                          *ngIf="form.controls['location'].errors['currency_type']" class="text-danger">This field is required.</span>
                      </div>
                    </div>
                  </div>


          </div>

          <div class="card-footer text-right">
            <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit(form.valid)">
              <!-- <i class="fa fa-dot-circle-o"></i> -->
              {{buttonTitle}}</button>
            <button type="reset" class="btn btn-sm btn-danger">
              <!-- <i class="fa fa-ban"></i> -->
              Reset</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- {{countryArr | json}} -->
</div>
