<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong style="font-size: 20px;">{{panelTitle}} Offer</strong>
          <span class="input-group-text pull-right" [routerLink]="cancel_link"><i class="icon-close"></i></span>
        </div>
        <form class="form-horizontal" [formGroup]="form">

          <div class="card-body">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email">Email</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.email" -->
                <input type="email" class="form-control" placeholder="Enter Email" autocomplete="email"
                  formControlName="email" id="email">
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['email'].valid">
                  <span *ngIf="form.controls['email'].errors['required']" class="text-danger">
                    This field is required.
                  </span>
                  <span *ngIf="form.controls['email'].errors['email']" class="text-danger">
                    Please enter valid data.
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name">Name</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.name" -->
                <input type="name" class="form-control" placeholder="Enter Name" autocomplete="name"
                  formControlName="name" id="name">
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['name'].valid">
                  <span *ngIf="form.controls['name'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="title">Title</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.title" -->
                <input type="title" class="form-control" placeholder="Enter Name" autocomplete="title"
                  formControlName="title" id="title">
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['title'].valid">
                  <span *ngIf="form.controls['title'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="title">Salary Type</label>
              <div class="col-md-6">
                <div class="custom-radio-wrap">
                  <div class="custom-control custom-radio">
                    <!-- [(ngModel)]="offer_data.salarytype" -->
                    <input type="radio" id="annual" class="custom-control-input" value="annual" name="salarytype"
                      formControlName="salarytype">
                    <label class="custom-control-label" for="annual">Annual</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <!-- [(ngModel)]="offer_data.salarytype" -->
                    <input type="radio" id="hourly" class="custom-control-input" value="hourly" name="salarytype"
                      formControlName="salarytype">
                    <label class="custom-control-label" for="hourly">Hourly</label>
                  </div>
                </div>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['salarytype'].valid">
                  <span *ngIf="form.controls['salarytype'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="salaryduration">Hourly Salary Duration</label>
              <div class="col-md-6">
                <!-- {{form.controls['salarytype'].value}} -->
                <!-- [(ngModel)]="offer_data.salaryduration" -->
                <p-dropdown [options]="salary_duration_optoins" formControlName="salaryduration" id="salaryduration"
                  [disabled]="!(form.controls['salarytype'].value === 'hourly')">
                </p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['salaryduration'].valid">
                  <!-- <span
                          *ngIf="form.controls['salaryduration'].errors['required']" class="text-danger">This field is required.</span> -->
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="country">Country</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.country" -->
                <p-dropdown [options]="contryList" formControlName="country" id="country" (onChange)="findCities()">
                </p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['country'].valid">
                  <span *ngIf="form.controls['country'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="location">Location</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.location" -->
                <p-dropdown [options]="location" optionLabel="city" optionValue="_id" formControlName="location"
                  id="location"></p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['location'].valid">
                  <span *ngIf="form.controls['location'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="currency_type">Currency Type</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.currency_type" -->
                <input type="text" id="currency_type" name="currency_type" formControlName="currency_type"
                  class="form-control" placeholder="Currency Type" disabled>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['currency_type'].valid">
                  <span *ngIf="form.controls['location'].errors['currency_type']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="salarybracket">Salary Bracket</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.salarybracket" -->
                <p-dropdown [options]="salary_bracket_optoins" formControlName="salarybracket" id="salarybracket">
                </p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['salarybracket'].valid">
                  <span *ngIf="form.controls['salarybracket'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="expirydate">Expiry Date</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.expirydate" -->
                <p-calendar formControlName="expirydate" id="expirydate">
                </p-calendar>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['expirydate'].valid">
                  <span *ngIf="form.controls['expirydate'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="joiningdate">Joining Date</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.joiningdate" -->
                <p-calendar formControlName="joiningdate" id="joiningdate">
                </p-calendar>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['joiningdate'].valid">
                  <span *ngIf="form.controls['joiningdate'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="offertype">Offer Type</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.offertype" -->
                <p-dropdown [options]="offer_type_optoins" formControlName="offertype" id="offertype"></p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['offertype'].valid">
                  <span *ngIf="form.controls['offertype'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="group">Group</label>
              <div class="col-md-6">
                <!-- (ngModel)]="offer_data.group" -->
                <p-dropdown [options]="group_optoins" formControlName="group" id="group">
                </p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['group'].valid">
                  <span *ngIf="form.controls['group'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="commitstatus">Commit Status
              </label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.commitstatus" -->
                <p-dropdown [options]="commitstatus_optoins" formControlName="commitstatus" id="commitstatus">
                </p-dropdown>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['commitstatus'].valid">
                  <span *ngIf="form.controls['commitstatus'].errors['required']" class="text-danger">This field is
                    required.</span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="customfield1">Custom Field 1</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.customfield1" -->
                <input type="customfield1" class="form-control" placeholder="Enter customfield1"
                  autocomplete="customfield1" formControlName="customfield1" id="customfield1">
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['customfield1'].valid">
                  <!-- <span *ngIf="form.controls['customfield1'].errors['required']" class="text-danger">This field is required.</span> -->
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="customfield2">Custom Field 2</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.customfield2" -->
                <input type="customfield2" class="form-control" placeholder="Enter customfield2" aut
                  ocomplete="customfield2" formControlName="customfield2" id="customfield2">
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['customfield2'].valid">
                  <!-- <span *ngIf="form.controls['customfield2'].errors['required']" class="text-danger">This field is required.</span> -->
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="customfield3">Custom Field 3</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.customfield3" -->
                <input type="customfield3" class="form-control" placeholder="Enter customfield3"
                  autocomplete="customfield3" formControlName="customfield3" id="customfield3">
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['customfield3'].valid">
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="notes">Notes</label>
              <div class="col-md-6">
                <!-- [(ngModel)]="offer_data.notes" -->
                <textarea type="notes" class="form-control" placeholder="Enter notes" autocomplete="notes"
                  formControlName="notes" id="notes" maxlength="300" rows="4" style=" overflow-y: scroll;"></textarea>
                <div class="cust_err_msg" *ngIf="form_validation && !form.controls['notes'].valid">
                </div>
              </div>
            </div>




          </div>

          <div class="card-footer text-right">
            <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit(form.valid)">
              <!-- <i class="fa fa-dot-circle-o"></i> -->
              {{buttonTitle}}</button>
            <button type="reset" class="btn btn-sm btn-danger">
              <!-- <i class="fa fa-ban"></i> -->
              Reset</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- {{countryArr | json}} -->
</div>