<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong style="font-size: 20px;">{{panelTitle}}</strong>
                    <span class="input-group-text pull-right" [routerLink]="['/employer/custom_field/list']"><i
                            class="icon-close"></i></span>
                </div>
                <form class="form-horizontal" [formGroup]="addCustomFeild"
                    (ngSubmit)="onSubmit(addCustomFeild.valid,id)">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="key">Custom Field </label>
                            <div class="col-md-4">
                                <input type="text" [(ngModel)]="data.key" id="key" name="key" class="form-control"
                                    placeholder="Custom Field" formControlName="key">
                                <span *ngIf="!addCustomFeild.get('key').valid && submitted" class="help-block">This
                                    field is required.
                                </span>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <!-- <i class="fa fa-dot-circle-o"></i> -->
                            {{buttonTitle}}</button>
                        <button type="reset" class="btn btn-sm btn-danger">
                            <!-- <i class="fa fa-ban"></i> -->
                            Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>