<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    New Candidate Detail
                    <i class="icon-close" *ngIf="candidate_type === 'Approved'" style="float: right;"
                        [routerLink]="cancel_link2"></i>
                    <i class="icon-close" *ngIf="candidate_type === 'New'" style="float: right;"
                        [routerLink]="cancel_link1"></i>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Candidate Name</td>
                                <td>{{candidate_detail.firstname}} {{candidate_detail.lastname}}</td>
                            </tr>
                            <tr>
                                <td>Candidate Email</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{candidate_detail.contactno}}</td>
                            </tr>
                            <tr>
                                <td>Document Type</td>
                                <td>{{candidate_detail.documenttype}}</td>
                            </tr>
                            <tr>
                                <td>Document Image</td>
                                <td>
                                    <img src="{{image + candidate_detail.documentimage}}"
                                        style="width:70px; height: 50px;" />
                                </td>
                            </tr>
                            <tr>
                                <td>Date Of Register</td>
                                <td>{{candidate_detail.createdAt | date: 'dd/MM/yyyy': 'utc'}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="float: right;">
                        <button type="button" *ngIf="!approval" class="btn btn-sm btn-success"
                            (click)="approve()">Approve</button>
                        <button type="button" *ngIf="approval" class="btn btn-sm btn-danger"
                            (click)="unapprove()">Unapprove</button>

                        <button type="button" *ngIf="candidate_type === 'Approved'" class="btn btn-sm btn-danger"
                            [routerLink]="cancel_link2">Cancel</button>
                        <button type="button" *ngIf="candidate_type === 'New'" class="btn btn-sm btn-danger"
                            [routerLink]="cancel_link1">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
