<header class="header static-page-header">
    <div class="container">
        <div class="d-flex">
            <div class="hirecommit-logo"><a href=""><img src="assets/img/new-logo.png" alt="" /></a></div>
            <div class="candidate-employer">
                <a href="http://candidate.hirecommit.com">Candidate</a>
                <a class="active">Employer</a>
            </div>
            <div class="login-signup">
                <!-- <a href="http://hirecommit.com/login">Login</a> -->
                <a [routerLink]="['/login']">Login</a>
                <span>-</span>
                <!-- <a href="http://hirecommit.com/emp_register">Sign up</a> -->
                <a [routerLink]="['/emp_register']">Sign up</a>
            </div>
        </div>
    </div>
</header>



<div class="static-page">
    <section class="header-bluepart">
        <div class="container">
            <div class="d-flex">
                <div class="header-bluepart-l">
                    <h1>
                        <small>No More Candidate</small><strong> Back-outs,</strong> <br />
                        <small>No More Last Minute</small><strong> Surprises</strong>
                    </h1>
                    <div class="sign-up-form">
                        <form class="d-flex">
                            <input type="text" name="" placeholder="Enter your work email" />
                            <button type="submit">Sign up now</button>
                        </form>
                    </div>
                    <h4>Solve the problem of candidates backing out after accepting offer, use the path-breaking
                        HireLock
                        feature to enhance joining rates. HireLock offer can be designed to suit candidate profile.
                        Choose
                        from a one-way option for candidates to commit, or A two-way option enables both the company and
                        candidate to commit. HireLock can be turned off or set for individual offers.</h4>
                    <h4> Candidates who accept HireLock offer commit to join when they accept offer and give consent
                        that if
                        they back out their information made available to future prospective employers. </h4>
                </div>
                <div class="header-bluepart-r">
                    <img src="assets/img/employer-img01.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>


    <section class="structured-automated">
        <div class="container">
            <div class="d-flex">
                <div class="structured-automated-l">
                    <h2 class="mobile-view">
                        <strong>Structured & Automated </strong> <small> communication with candidates</small>
                    </h2>
                    <img src="assets/img/employer-img02.jpg" alt="" />
                </div>
                <div class="structured-automated-r">
                    <h2 class="mobileview-none">
                        <strong>Structured & Automated</strong>
                        <small>communication with candidates</small>
                    </h2>
                    <p>Streamline communication strategy to enhance the candidate experience, and automated
                        communications
                        remove the burden of unstructured tasks.
                    </p>
                    <p>Companies can configure organization-specific communication for groups/ individuals and set
                        emails to
                        be fired on a fixed date/no. of days before or
                        after a milestone.</p>
                    <p>Post offer engagement builds company, candidate rapport, and encourages
                        result-oriented engagement.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="advance-alerts">
        <div class="container">
            <div class="advance-alerts-bg d-flex">
                <h2><strong>Advance alerts</strong> <small>to warn of potential drop-outs</small></h2>
                <p>AI-assisted candidate communication analysis, email alerts to warn <br />
                    about the candidates who are at risk of not joining. Alert conditions fully customizable <br />
                    based on
                    business needs.</p>
            </div>
        </div>
    </section>

    <section class="boxes-section">
        <div class="container">
            <ul class="d-flex">
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-01.png" alt="" /></span>
                        <h3>Signup for Free</h3>
                        <p>Register online for free. All we need is a few necessary details, and we will get in touch
                            with
                            you for additional documents required.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-02.png" alt="" /></span>
                        <h3>One-time setup</h3>
                        <p>Enter various Locations. Configure optional items like communication for groups/subsets,
                            custom fields, and create sub-accounts.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-03.png" alt="" /></span>
                        <h3>Send offer to Candidate</h3>
                        <p>Use HireCommit to enter the necessary details of the offer and send offer to candidates.
                            Choose
                            to use HireLock feature in which candidate or both candidate and you the company commit.
                            Detailed offer can be sent outside the system.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-04.png" alt="" /></span>
                        <h3>Candidate accepts</h3>
                        <p>Candidate logs in or registers on HireCommit, reviews offer details and accepts offer after
                            consenting to terms.</p>
                    </div>
                </li>
                <li class="monitor-alerts-li">
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-05.png" alt="" /></span>
                        <h3>Monitor alerts/communication</h3>
                        <p>You, the company, can monitor Communication (s) sent to candidates. The system will warn if a
                            particular candidate is at risk of not joining based on alerts set as per business
                            needs.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-06.png" alt="" /></span>
                        <h3>Candidate joins</h3>
                        <p>That's it, no more last-minute surprises and no more candidate backing out after accepting
                            your
                            offer.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="data-security">
        <div class="container">
            <div class="d-flex">
                <div class="data-security-l">
                    <h2 class="mobile-view">
                        <strong>Confidentiality & <br />Data Security</strong>
                    </h2>
                    <img src="assets/img/employer-img04.jpg" alt="" />
                </div>
                <div class="data-security-r">
                    <h2 class="mobileview-none">
                        <strong>Confidentiality & <br />Data Security</strong>
                    </h2>
                    <p>Organizations remain custodians of all sensitive data; no information shared. HireCommit system
                        follows best practices of ISO 27000 Standards.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="transparency">
        <div class="container">
            <div class="transparency-bg d-flex">
                <h2><small>2-Way</small><strong> Transparency</strong></h2>
                <p>Candidates fully briefed about terms and conditions, consent taken before candidate accepts <br />
                    HireLock offer. System enables fair issue resolution in case of a conflict. </p>
            </div>
        </div>
    </section>

    <section class="support-identity">
        <div class="container">
            <div class="d-flex">
                <div class="support-identity-l">
                    <h2 class="mobile-view">
                        <small>Continuous</small>
                        <strong> support & identity verification</strong>
                    </h2>
                    <img src="assets/img/employer-img06.jpg" alt="" />
                </div>
                <div class="support-identity-r">
                    <h2 class="mobileview-none">
                        <small>Continuous</small>
                        <strong> support & identity verification</strong>
                    </h2>
                    <p>HireCommit provides prompt redressal of issues to both candidates and organizations. Candidates
                        and organizations need to provide documentary evidence in case of a dispute. We verify that
                        multiple profiles of a candidate don’t exist. We vet organizations before they can send offers.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer">
    <div class="container">
        <div class="d-flex">
            <div class="copyright">
                <p>© Copyright <a [routerLink]="['/']">HireCommit</a> - 2019 | All Rights Reserved.</p>
            </div>
            <!-- <div class="contact-link"><a [routerLink]="['/']">Contact us</a></div> -->
            <div class="contact-link">
                <a [routerLink]="['aboutus']" target="_blank">About us</a>
                <a [routerLink]="['contactus']" target="_blank">Contact us</a>
            </div>
        </div>
    </div>
</footer>