<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Change Password</strong>
      <span class="input-group-text pull-right" (click)="onClose()"><i class="icon-close"></i></span>
    </div>
    <div class="card-body">
      <form [formGroup]="form" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="oldpassword">Old Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.oldpassword" formControlName="oldpassword" name="oldpassword"
              class="form-control" placeholder="Enter Old Password..">
            <div class="error" *ngIf="!form.controls['oldpassword'].valid && isFormSubmited">
              <span *ngIf="form.controls['oldpassword'].errors['required']">Password is required.</span>
              <span *ngIf="form.controls['oldpassword'].errors['minlength']">Password must be more then 8
                characters.</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="newpassword">New Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.newpassword" formControlName="newpassword" name="newpassword"
              class="form-control" placeholder="Enter New Password..">
            <div class="error" *ngIf="!form.controls['newpassword'].valid && isFormSubmited">
              <span *ngIf="form.controls['newpassword'].errors['required']">Password is required.</span>
              <span *ngIf="form.controls['newpassword'].errors['minlength']">Password must be more then 8
                characters.</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="confirmnewpassword">Confirm New Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.confirmnewpassword" formControlName="confirmnewpassword"
              name="confirmnewpassword" class="form-control" placeholder="Re-Enter New Password..">
            <div class="error" *ngIf="!form.controls['confirmnewpassword'].valid && isFormSubmited">
              <span *ngIf="form.controls['confirmnewpassword'].errors['required']">Password is required.</span>
              <span *ngIf="form.controls['confirmnewpassword'].errors['mismatch']">Password and confirm password should
                be same.</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-right">
      <button type="button" class="btn btn-sm btn-primary" (click)="submit(form.valid)">Submit</button>
      <button type="reset" class="btn btn-sm btn-danger">Reset</button>
    </div>
  </div>
</div>