<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Change Password</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="form" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="oldpassword">Old Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.oldpassword" formControlName="oldpassword" name="oldpassword"
              class="form-control" placeholder="Enter Old Password..">
            <div class="error" *ngIf="!form.controls['oldpassword'].valid && isFormSubmitted">
              <span
                *ngIf="form.controls['oldpassword'].errors['required'] || form.controls['oldpassword'].errors['whitespace']">Old
                Password is required.</span>
              <span
                *ngIf="form.controls['oldpassword'].errors['minlength'] && !form.controls['oldpassword'].errors['whitespace']">Password
                must be more then 8
                characters.</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="newpassword">New Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.newpassword" formControlName="newpassword" name="newpassword"
              class="form-control" placeholder="Enter New Password..">
            <div class="error" *ngIf="!form.controls['newpassword'].valid && isFormSubmitted">
              <span
                *ngIf="form.controls['newpassword'].errors['required'] || form.controls['newpassword'].errors['whitespace']">New
                Password is required.</span>
              <span
                *ngIf="form.controls['newpassword'].errors['minlength'] && !form.controls['newpassword'].errors['whitespace']">Password
                must be more then 8
                characters.</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="confirmnewpassword">Confirm New Password</label>
          <div class="col-md-4">
            <input type="password" [(ngModel)]="formData.confirmnewpassword" formControlName="confirmnewpassword"
              name="confirmnewpassword" class="form-control" placeholder="Re-Enter New Password..">
            <div class="error" *ngIf="!form.controls['confirmnewpassword'].valid && isFormSubmitted">
              <span
                *ngIf="form.controls['confirmnewpassword'].errors['required'] || form.controls['confirmnewpassword'].errors['whitespace']">Confirm
                New Password is
                required.</span>
              <span
                *ngIf="form.controls['confirmnewpassword'].errors['mismatch'] && !form.controls['confirmnewpassword'].errors['whitespace']">Password
                and confirm password should
                be same.</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-right">
      <button type="button" class="btn btn-md btn-primary" (click)="submit(form.valid)" [disabled]="show_spinner">Submit
        <i *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
      <!-- <button type="button" class="btn btn-md btn-danger" [routerLink]="['/employer/offers/list']">Cancel</button> -->
      <button type="button" class="btn btn-md btn-danger" (click)="send()">

        Cancel</button>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>