<html>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</html>
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mx-auto" style="padding-top: 70px;">
            <div class="card-group">
              <div class="card mx-4">
                <div class="card-body p-4">
                    <form>
                      <h5>Need Your Bussiness Details</h5>

                        
                      <div style="text-align:left;">
                              <span class="step"></span>
                              <span class="step" style="background-color:royalblue;"></span>
                            </div>

                      
                            <h5 style="padding-top: 15px;">Company</h5>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Company Name" autocomplete="email" required>
                        
                      </div>


                      <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="icon-globe"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Website" autocomplete="email" required>
                          </div>

                          <h5>Contact Details</h5>
      
                          <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Your Name" autocomplete="email" required>
                                
                              </div>
        
        
                              <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-phone"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="10 digit mobile number" autocomplete="email" required>
                                  </div>
                          
                                  <button class="btn btn-primary pull-right" (click)="onFinish()">Finish</button>
                     
                    </form>
                  </div>
                    
      
                     
                    <!--<div class="row">
                     <div class="col-6">
                        <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                      </div> -->
                      <!-- <div class="col-6">
                        <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                      </div> 
                    </div>-->
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        </main>
      </div>
      