<html>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
 </html>

                    <div class="app-body">
                        <main class="main d-flex align-items-center">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-4 mx-auto" style="padding-top: 70px;">
                                <div class="card-group">
                                  <div class="card mx-4">
                                    <div class="card-body p-4">

                      <form>
                        <h5>Need Your Bussiness Details</h5>

                        
                        <div style="text-align:left;">
                                <span class="step" style="background-color:royalblue;"></span>
                                <span class="step"></span>
                              </div>

                          <p>Not Yet Registered</p>
                          <p>Individual</p>
                          <p>Private Limited</p>
                          <p>Partnership</p>
                          <p>LLP</p> 
                          <p>Trust</p>


                          <button class="btn btn-primary pull-right" (click)="onNext()">Next</button>
                      </form>
                    </div>
                  </div>
               
                </div>
              </div>
           </div>
          </div>
        </main>
      </div>
      