<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Locations
                    <p class="pull-right"></p>
                    <div class="btn-div-wrap pull-right">
                        <i class="icon-plus" [routerLink]="['/employer/locations/add']"> </i>
                        <strong>Add</strong>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <button class="btn btn-primary pull-left" (click)="onAdd()">Add New Offer</button> -->
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Country</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="locations?.length != 0">
                            <tr *ngFor="let data of locations|| sal of sal">
                                <td>{{data.city}}</td>
                                <td>{{data.country.country}}</td>
                                <td>

                                    <button type="button" class="btn btn-sm btn-primary"
                                        [routerLink]="['/employer/locations/edit/',data._id]"><i
                                            class="icon-pencil"></i></button>
                                    <button type="button" class="btn btn-sm btn-danger" (click)="delete(data._id)"><i
                                            class="icon-trash"></i></button></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="locations?.length == 0">
                            <tr>
                                <td colspan="8" class="no-data-available">No data!</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>