<div class="app-body">
  <main class="main d-flex align-items-center">

    <!-- <div class="animated fadeIn"> -->

    <div class="card">
      <div class="card-header">
        <strong>Sign Up</strong>
      </div>
      <div class="card-body">
        <!-- <div class="container"> -->
        <div id="stepper1" class="bs-stepper">
          <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
              <button class="step-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Step</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
              <button class="step-trigger" [disabled]="!step2">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Step</span>
              </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
              <button class="step-trigger" [disabled]="!step3">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Step</span>
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <form [formGroup]="registerForm">
              <div id="test-l-1" class="content">
                <div class="form-inner">
                  <label for="email">Your Work Email</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-envelope-letter"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="yourname@companyname.com"
                      [(ngModel)]="formData.email" name="email" formControlName="email" required="required">
                    <div class="error" *ngIf="!registerForm.controls['email'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['email'].errors.required">Email is required.</span>
                      <span *ngIf="registerForm.controls['email'].errors.email">Email must be in valid format.</span>
                    </div>
                  </div>

                  <label for="password">Create a Password</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="formData.password" name="password" class="form-control"
                      placeholder="Min 8 char,1 letter & 1 number" formControlName="password" required="required">
                    <div class="error mb-2 mt-1" *ngIf="!registerForm.controls['password'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['password'].errors['required']">Password is required.</span>
                      <span *ngIf="registerForm.controls['password'].errors['minlength']">Password must be more then 8
                        characters.</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" class="mt-2" formControlName="recaptcha"
                      [(ngModel)]="formData.recaptcha" name="recaptcha">
                    </ngx-recaptcha2>
                    <div class="error mb-0 mt-5" *ngIf="!registerForm.controls['recaptcha'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['recaptcha'].errors['required']">This Field is required.</span>
                    </div>
                  </div>

                </div>
                <button (click)="next1()" class="btn btn-primary">Next</button>
              </div>

              <div id="test-l-2" class="content">
                <div class="form-inner">
                  <div class="form-group row mt-5">
                    <label class="col-md-4 col-form-label" for="country">Country</label>

                    <p-dropdown [options]="Country" placeholder="Select Country" formControlName="country" id="country"
                      (onChange)="getCode($event)">
                    </p-dropdown>

                    <div class="error" *ngIf="!registerForm.controls['country'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['country'].errors['required']">Please select your
                        country.</span>
                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="businesstype">Business Type</label>
                    <p-dropdown [options]="Business_Type" placeholder="Select Business Type"
                      formControlName="businesstype" id="businesstype">
                    </p-dropdown>
                    <div class="error" *ngIf="!registerForm.controls['businesstype'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['businesstype'].errors['required']">Please select business
                        type.</span>
                    </div>

                  </div>
                </div>
                <button (click)="next2()" class="btn btn-primary">Next</button>
              </div>
              <div id="test-l-3" class="content text-center">
                <div class="form-inner">
                  <h5>Need Your Bussiness Details</h5>
                  <h5 style="padding-top: 15px;">Company</h5>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-calendar"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Company Name"
                      [(ngModel)]="formData.companyname" name="companyname" formControlName="companyname"
                      required="required">
                    <div class="error" *ngIf="!registerForm.controls['companyname'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['companyname'].errors['required']">Company name is
                        required.</span>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-globe"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Website" formControlName="website">
                  </div>
                  <p class="pull-left" style="color: rgb(167, 167, 167); font-size: 100%;">Leave blank if unavailable
                  </p>
                  <br><br>

                  <h5>Contact Details</h5>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Your Name" [(ngModel)]="formData.username"
                      name="username" formControlName="username" required="required">
                    <div class="error" *ngIf="!registerForm.controls['username'].valid && isFormSubmited">
                      <span *ngIf="registerForm.controls['username'].errors['required']">User name is required.</span>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-phone"></i>
                      </span>
                    </div>
                    <div class="d-flex">
                      <div class="country-code">
                        <input type="text" [(ngModel)]="formData.countrycode" class="form-control" placeholder="Code"
                          formControlName="countrycode" name="countrycode">
                        <!-- <div class="error" *ngIf="!registerForm.controls['countrycode'].valid && isFormSubmited">
                            <span *ngIf="registerForm.controls['countrycode'].errors['required']">Please select country code.</span>
                          </div> -->
                      </div>
                      <div class="contact-number">
                        <input type="text" class="form-control" placeholder="10-digit number"
                          [(ngModel)]="formData.contactno" name="contactno" formControlName="contactno"
                          required="required">
                        <div class="error pull-left"
                          *ngIf="!registerForm.controls['contactno'].valid && isFormSubmited">
                          <span *ngIf="registerForm.controls['contactno'].errors['required']">Contact number is
                            required.</span>
                          <span
                            *ngIf="(registerForm.controls['contactno'].errors['minlength'] || registerForm.controls['contactno'].errors['maxlength']) && !registerForm.controls['contactno'].errors['pattern']">Enter
                            10 digits of mobile number.</span>
                          <span *ngIf="registerForm.controls['contactno'].errors['pattern']">Allow only numbers
                            0-9.</span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="custome-checkbox">
                      <p-checkbox [(ngModel)]="isChecked" (onChange)="checkValue($event)" formControlName="isChecked"
                        [required]>
                      </p-checkbox>

                      <label for="signing-agree">By signing up you agree to our
                        <a href="#">privacy policy</a>
                        and
                        <a href="#">terms of use</a>
                        <div class="error" *ngIf="!registerForm.controls['isChecked'].valid && isFormSubmited">
                          <span *ngIf="registerForm.controls['isChecked'].errors['required']">
                            Accept terms and conditions.</span>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mt-5"
                  (click)="onSubmit(registerForm.valid)">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <!-- </div> -->

  </main>
</div>
