// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// datatable

.dataTables_empty {
    display: none;
  }
 .form-control{
    height: 38px !important;
    box-sizing: border-box;
 }
  .error {
    width: 100%;
    color: red;
    font-size: 13px;
    margin-top: 2px;
    position: absolute;
  }
  .input-group .error {
    top: 35px;
}

.no-data-available{
  text-align: center;
}
