<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong style="font-size: 20px;">Add Group</strong>
                </div>
                <!-- group form -->
                <form class="form-horizontal" [formGroup]="addGroup" (ngSubmit)="onSubmit(addGroup.valid)">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="name">
                                <h5>Name</h5>
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Enter group name"
                                    autocomplete="name" formControlName="name" [(ngModel)]="groupData.name" id="name">
                                <div class="cust_err_msg" *ngIf="!addGroup.controls['name'].valid && isFormSubmitted">
                                    <span
                                        *ngIf="addGroup.controls['name'].errors['required'] ||  addGroup.get('name').errors['whitespace']"
                                        class="text-danger">
                                        This field is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="d-block text-left col-md-3 col-form-label" for="commitStatus">
                                <h5>Commit Status</h5>
                            </label>
                        </div>

                        <div class="form-group row">
                            <label class="ml-4 col-md-3 " for="high_unopened">High - UnOpened</label>
                            <div class="input-group col-md-2">
                                <input type="number" min="1" class="form-control" autocomplete="high_unopened"
                                    formControlName="high_unopened" [(ngModel)]="groupData.high_unopened"
                                    id="high_unopened">
                                <div class="input-group-append">
                                    <span class="input-group-text">Days</span>
                                </div>
                                <div class="cust_err_msg"
                                    *ngIf="!addGroup.controls['high_unopened'].valid && isFormSubmitted">
                                    <span *ngIf="addGroup.controls['high_unopened'].errors['required']"
                                        class="text-danger">This field is
                                        required.</span>
                                    <span
                                        *ngIf="addGroup.controls['high_unopened'].errors['pattern'] || !addGroup.controls['high_unopened'].errors['required']"
                                        class="text-danger">Only Month Days</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="ml-4 col-md-3 " for="high_notreplied">High - NotReplied</label>
                            <div class="input-group col-md-2">
                                <input type="number" min="1" class="form-control" autocomplete="high_notreplied"
                                    formControlName="high_notreplied" [(ngModel)]="groupData.high_notreplied"
                                    id="high_notreplied">
                                <div class="input-group-append">
                                    <span class="input-group-text">Days</span>
                                </div>
                                <div class="cust_err_msg"
                                    *ngIf="!addGroup.controls['high_notreplied'].valid && isFormSubmitted">
                                    <span *ngIf="addGroup.controls['high_notreplied'].errors['required']"
                                        class="text-danger">This field is
                                        required.</span>
                                    <span *ngIf="addGroup.controls['high_notreplied'].errors['pattern']"
                                        class="text-danger">Only Month Days</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="ml-4 col-md-3 " for="medium_unopened">Medium - UnOpened</label>
                            <div class="input-group col-md-2">
                                <input type="number" min="1" class="form-control" autocomplete="medium_unopened"
                                    formControlName="medium_unopened" [(ngModel)]="groupData.medium_unopened"
                                    id="medium_unopened">
                                <div class="input-group-append">
                                    <span class="input-group-text">Days</span>
                                </div>
                                <div class="cust_err_msg"
                                    *ngIf="!addGroup.controls['medium_unopened'].valid && isFormSubmitted">
                                    <span *ngIf="addGroup.controls['medium_unopened'].errors['required']"
                                        class="text-danger">This field is
                                        required.</span>
                                    <span *ngIf="addGroup.controls['medium_unopened'].errors['pattern']"
                                        class="text-danger">Only Month Days</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="ml-4 col-md-3 " for="medium_notreplied">Medium - NotReplied</label>
                            <div class="input-group col-md-2">
                                <input type="number" min="1" class="form-control" autocomplete="medium_notreplied"
                                    formControlName="medium_notreplied" [(ngModel)]="groupData.medium_notreplied"
                                    id="medium_notreplied">
                                <div class="input-group-append">
                                    <span class="input-group-text">Days</span>
                                </div>
                                <div class="cust_err_msg"
                                    *ngIf="!addGroup.controls['medium_notreplied'].valid && isFormSubmitted">
                                    <span *ngIf="addGroup.controls['medium_notreplied'].errors['required']"
                                        class="text-danger">This field
                                        is required.</span>
                                    <span *ngIf="addGroup.controls['medium_notreplied'].errors['pattern']"
                                        class="text-danger">Only Month Days</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="ml-4 col-md-3" for="low_unopened">Low - UnOpened</label>
                            <div class="input-group col-md-2">
                                <input type="number" min="1" class="form-control" autocomplete="low_unopened"
                                    formControlName="low_unopened" [(ngModel)]="groupData.low_unopened"
                                    id="low_unopened">
                                <div class="input-group-append">
                                    <span class="input-group-text">Days</span>
                                </div>
                                <div class="cust_err_msg"
                                    *ngIf="!addGroup.controls['low_unopened'].valid && isFormSubmitted">
                                    <span *ngIf="addGroup.controls['low_unopened'].errors['required']"
                                        class="text-danger">This field is
                                        required.</span>
                                    <span *ngIf="addGroup.controls['low_unopened'].errors['pattern']"
                                        class="text-danger">Only Month Days</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="ml-4 col-md-3" for="low_notreplied">Low - NotReplied</label>
                            <div class="input-group col-md-2">
                                <input type="number" min="1" class="form-control" autocomplete="low_notreplied"
                                    formControlName="low_notreplied" [(ngModel)]="groupData.low_notreplied"
                                    id="low_notreplied">
                                <div class="input-group-append">
                                    <span class="input-group-text">Days</span>
                                </div>
                                <div class="cust_err_msg"
                                    *ngIf="!addGroup.controls['low_notreplied'].valid && isFormSubmitted">
                                    <span *ngIf="addGroup.controls['low_notreplied'].errors['required']"
                                        class="text-danger">This field is
                                        required.</span>
                                    <span *ngIf="addGroup.controls['low_notreplied'].errors['pattern']"
                                        class="text-danger">Only Month Days</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-100 card-footer text-right" *ngIf="!show_communication">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Next</button>
                        <button type="reset" class="btn btn-sm btn-danger" [routerLink]="cancel_link">
                            Cancel</button>
                    </div>
                </form>
                <!-- group form -->

                <!-- communication form -->
                <form class="form-horizontal" [formGroup]="communicationForm"
                    (ngSubmit)="onCommunicationSubmit(communicationForm.valid)" *ngIf="show_communication">
                    <div class="card-body">
                        <!-- communication -->
                        <ng-container formArrayName="communicationFieldItems">
                            <div class="form-group row" formGroupName="{{i}}"
                                *ngFor="let customfield of communicationData; let i=index">
                                <div class="col-md-12 mt-3">
                                    <div class="card">

                                        <div class="card-header h5">Record - {{i+1}}
                                            <span class="input-group-text pull-right" *ngIf="i < 1"
                                                (click)="add_new_communication(i)"><i class="icon-plus"></i></span>
                                            <span class="input-group-text pull-right" *ngIf="i > 0"
                                                (click)="remove_communication(i)"><i class="icon-minus"></i></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="name">
                                                    Communication Name
                                                </label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="Enter name"
                                                        formControlName="communicationname" id="communicationname"
                                                        [(ngModel)]="customfield.communicationname">
                                                    <div *ngIf="isSubmitted && communicationForm.controls['communicationFieldItems'].controls[i].controls['communicationname'].errors"
                                                        style="color: red;">
                                                        <div
                                                            *ngIf="communicationForm.controls['communicationFieldItems'].controls[i].controls['communicationname'].errors['required']">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="col-md-1 col-form-label" for="trigger">Trigger</label>
                                                <div class="col-md-4">
                                                    <select id="trigger" name="select1" class="form-control"
                                                        formControlName="trigger" [(ngModel)]="customfield.trigger">
                                                        <option value="" selected="selected">Please select trigger
                                                        </option>
                                                        <option value="beforeJoining">Before Joining</option>
                                                        <option value="afterJoining">After Joining</option>
                                                        <option value="afterOffer">After Offer</option>
                                                        <option value="beforeExpiry">Before Expiry</option>
                                                        <option value="afterExpiry">After Expiry</option>
                                                    </select>
                                                    <div *ngIf="isSubmitted && communicationForm.controls['communicationFieldItems'].controls[i].controls['trigger'].errors"
                                                        style="color: red;">
                                                        <div
                                                            *ngIf="communicationForm.controls['communicationFieldItems'].controls[i].controls['trigger'].errors['required']">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="day">Day</label>
                                                <div class="col-md-4">
                                                    <input type="text" id="day" name="day" class="form-control"
                                                        placeholder="Enter Days" formControlName="day"
                                                        [(ngModel)]="customfield.day">
                                                    <div *ngIf="isSubmitted && communicationForm.controls['communicationFieldItems'].controls[i].controls['day'].errors"
                                                        style="color: red;">
                                                        <div
                                                            *ngIf="communicationForm.controls['communicationFieldItems'].controls[i].controls['day'].errors['required']">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </div>

                                                <label class="col-md-1 col-form-label" for="trigger">Priority</label>
                                                <div class="col-md-4">
                                                    <select id="priority" name="select1" class="form-control"
                                                        formControlName="priority" [(ngModel)]="customfield.priority">
                                                        <option value="" selected="selected">Please select priority
                                                        </option>
                                                        <option value="High">High</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Low">Low</option>
                                                    </select>
                                                    <div *ngIf="isSubmitted && communicationForm.controls['communicationFieldItems'].controls[i].controls['priority'].errors"
                                                        style="color: red;">
                                                        <div
                                                            *ngIf="communicationForm.controls['communicationFieldItems'].controls[i].controls['priority'].errors['required']">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label" for="message">Message</label>
                                                <div class="col-md-9">
                                                    <ckeditor [editor]="Editor" formControlName="message"
                                                        [(ngModel)]="customfield.message" (ready)="onReady($event)">
                                                    </ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- communication -->

                    </div>
                    <div class="w-100 card-footer text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger" [routerLink]="cancel_link">
                            Cancel</button>
                    </div>
                </form>
                <!-- communication form -->

            </div>
        </div>
    </div>
</div>