<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> New Request
        </div>
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
            <thead>
              <tr>
                <th>Candidate Name</th>
                <th>Candidate Email</th>
                <th>Phone</th>
                <th>PAN NO</th>
                <th>Date registered</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of candidates">
                <td>{{data.firstname}} {{data.lastname}}</td>
                <td>{{data.user.email}}</td>
                <td>{{data.countrycode}} {{data.contactno}}</td>
                <td>{{data.documenttype}}</td>
                <td>{{data.createdAt.split('T')[0]}}</td>
                <td>{{data.status}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-success" (click)="detail(data._id)"><i
                      class="icon-eye"></i></button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(data.user_id._id)"><i
                      class="icon-trash"></i></button>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onApproved(data.user_id._id)"><i
                      class="icon-check"></i></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
