<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          Timeline
        </div>
        <div class="card-body">
          <mgl-timeline>
            <mgl-timeline-entry>
                <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
                <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
                <mgl-timeline-entry-dot style="background: royalblue;"
                [size]="size"></mgl-timeline-entry-dot>
                <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
            </mgl-timeline-entry>

            <mgl-timeline-entry (expand)="true">
              <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
              <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
              <mgl-timeline-entry-dot style="background: royalblue;"
              [size]="size"></mgl-timeline-entry-dot>
              <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
            </mgl-timeline-entry>

          <mgl-timeline-entry>
            <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
            <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
            <mgl-timeline-entry-dot style="background: royalblue;"
            [size]="size"></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
          </mgl-timeline-entry>

          <mgl-timeline-entry (expand)="true">
            <mgl-timeline-entry-header>Header</mgl-timeline-entry-header>
            <mgl-timeline-entry-content>Content</mgl-timeline-entry-content>
            <mgl-timeline-entry-dot style="background: royalblue;"
            [size]="size"></mgl-timeline-entry-dot>
            <mgl-timeline-entry-side>2018</mgl-timeline-entry-side>
          </mgl-timeline-entry>
          </mgl-timeline>
        </div>
      </div>
    </div>
  </div>
</div>
