<div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        Group Detail

                        <button type="button" id="add" (click)="onclick()" class="b pull-right"><i class="pull-right icon-close"></i></button>
                    </div>
                    <div class="card-body">
                        <h5>  Officer</h5>
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>Communication Nme</td>
                                    <td>1 Day after offer</td>
                                </tr>
                                <tr>
                                    <td>Trigger</td>
                                    <td>After Offer </td>
                                </tr>
                                <tr>
                                    <td>Day</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Priority</td>
                                    <td>High</td>
                                </tr>
                                <tr>
                                    <td>Message</td>
                                    <td>Full HTML email draft with attachment</td>
                                </tr>

                            </tbody>
                        </table>

                        <button type="button" class="btn btn-sm btn-danger" style="float: right;"
                        (click)="cancel()">Delete</button>
                        <button type="button" class="btn btn-sm btn-success mr-2" style="float: right;" (click)="edit()">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
