<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Employer Detail
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td>02/03/2019</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>ABC@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>ABC</td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>HR</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>Female</td>
                            </tr>
                            <tr>
                                <td>Salary Bracket</td>
                                <td>15000</td>
                            </tr>
                            <tr>
                                <td>Expiry Date</td>
                                <td>22/09/2020</td>
                            </tr>
                            <tr>
                                <td>Joining Date</td>
                                <td>22/09/2015</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td style="color:red; text-decoration:chartreuse">Activate</td>
                            </tr>
                            <tr>
                                <td>Notes</td>
                                <td>Nothing</td>
                            </tr>
                            <tr>
                                <td>Custom Field 1</td>
                                <td>Custom Feild</td>
                            </tr>
                            <tr>
                                <td>Custom Field 2</td>
                                <td>Custom Feild</td>
                            </tr>
                            <tr>
                                <td>Custom Field 3</td>
                                <td>Custom Feild</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-sm btn-info" style="float: right;"
                        (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>