<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong style="font-size: 20px;">Add Communication : {{_name[0].name}}</strong>
            <span class="input-group-text pull-right" (click)="onClose()"><i class="icon-close"></i></span>
          </div>
          <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.valid)">
            <div formArrayName="arr" *ngFor="let a of this.myForm.get('arr')['controls']; let i = index">
              <div [formGroupName]="i" style="margin-bottom: 10px;">
                <div class="col-md-12 mt-3">
                  <div class="card">

                    <div class="card-header h5">Communication - {{i+1}}
                        <span class="input-group-text pull-right" *ngIf="i < 1" (click)="addItem(i)"><i class="icon-plus"></i></span>
                        <span class="input-group-text pull-right" *ngIf="i > 0"  (click)="removeItem(i)"><i class="icon-minus"></i></span>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="name">Comunication Name</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Enter name" formControlName="communicationname" id="communicationname">
                            <div *ngIf="submitted && f[i].controls.communicationname.errors" style="color: red;">
                                <div *ngIf="f[i].controls.communicationname.errors.required">This Field is required.</div>
                            </div>
                          </div>
                          <label class="col-md-1 col-form-label" for="trigger">Trigger</label>
                          <div class="col-md-4">
                            <select id="trigger" name="select1" class="form-control" formControlName="trigger">
                              <option value="null" selected="selected">Please select trigger</option>
                              <option value="beforeJoining">Before Joining</option>
                              <option value="afterJoining">After Joining</option>
                              <option value="afterOffer">After Offer</option>
                              <option value="beforeExpiry">Before Expiry</option>
                              <option value="afterExpiry">After Expiry</option>
                            </select>
                            <div *ngIf="submitted && f[i].controls.trigger.errors" style="color: red;">
                                <div *ngIf="f[i].controls.trigger.errors.required">This Field is required.</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="day">Day</label>
                          <div class="col-md-4">
                            <input type="text" id="day" name="day" class="form-control" placeholder="Enter Days" formControlName="day">
                            <div *ngIf="submitted && f[i].controls.day.errors" style="color: red;">
                                <div *ngIf="f[i].controls.day.errors.required">This Field is required.</div>
                            </div>
                          </div>


                          <label class="col-md-1 col-form-label" for="trigger">Priority</label>
                          <div class="col-md-4">
                            <select id="priority" name="select1" class="form-control" formControlName="priority">
                              <option value="null" selected="selected">Please select priority</option>
                              <option value="High">High</option>
                              <option value="Medium">Medium</option>
                              <option value="Low">Low</option>
                            </select>
                            <div *ngIf="submitted && f[i].controls.priority.errors" style="color: red;">
                                <div *ngIf="f[i].controls.priority.errors.required">This Field is required.</div>
                            </div>
                          </div>

                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="message">Message</label>
                          <div class="col-md-9">
                            <ckeditor [editor]="Editor" formControlName="message" (ready)="onReady($event)"></ckeditor>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card-footer text-right">
              <button type="submit" class="btn btn-sm btn-primary">

                Submit</button>
              <button type="reset" class="btn btn-sm btn-danger">

                Reset</button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
<!-- popup -->
