<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Employer Detail
                </div>
                <div class="card-body" *ngIf="displayForm">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td>{{offers.createdAt}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{offers.email}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{offers.name}}</td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>{{offers.title}}</td>
                            </tr>


                            <tr>
                                <td>Salary Type</td>
                                <td>{{offers.salarytype}}</td>
                            </tr>

                            <tr *ngIf="offers.salarytype === 'hourly'" disabled>
                                <td>Salary Duration</td>
                                <td>{{offers.salaryduration}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{loc[0].country}}</td>
                            </tr>

                            <tr>
                                <td>Location</td>
                                <td>{{loc[0].city}}</td>
                            </tr>

                            <tr>
                                <td>Currency Type</td>
                                <td>{{offers.currency_type}}</td>
                            </tr>

                            <tr>
                                <td>Salary Bracket</td>
                                <td>{{salary[0].from}} to {{salary[0].to}} </td>
                            </tr>
                            <tr>
                                <td>Expiry Date</td>
                                <td>{{offers.expirydate}}</td>
                            </tr>
                            <tr>
                                <td>Joining Date</td>
                                <td>{{offers.joiningdate}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td><label class="switch">
                                    <input [checked]="offers.status" type="checkbox" (change)="checkValue($event)">
                                    <span class="slider round"></span>
                                </label></td>
                            </tr>

                            <tr>
                                <td>Offer Type</td>
                                <td>{{offers.offertype}}</td>
                            </tr>
                             
                            
                            <tr>
                                <td>Group</td>
                                <td>{{group[0].name}}<button class="btn btn-primary pull-right" type="button"  (click)="details(offers.group)">View Communication</button></td>
                                
                            </tr>

                            <tr>
                                <td>Commit Status</td>
                                <td>{{offers.commitstatus}}</td>
                            </tr>

                            

                            <tr>
                                <td>Custom Field 1</td>
                                <td>{{offers.customfeild1}}</td>
                            </tr>
                            <tr>
                                <td>Custom Field 2</td>
                                <td>{{offers.customfeild2}}</td>
                            </tr>
                            <tr>
                                <td>Custom Field 3</td>
                                <td>{{offers.customfeild3}}</td>
                            </tr>
                            <tr>
                                <td>Notes</td>
                                <td>{{offers.notes}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-sm btn-danger" style="float: right;"
                    (click)="cancel()">Cancel</button>
                    <button type="button" class="btn btn-sm btn-success mr-2" style="float: right;" (click)="edit(offers._id)">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
