<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Employer Detail
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                          ABC{{details.title}}
                            <tr>
                                <td>Date</td>
                                <td>02/03/2019</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>ABC@gmail.com</td>
                            </tr> 
                       <tr>
                                <td>Name</td>
                                <td>ABC</td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td>{{details.title}}</td>
                            </tr>


                            <tr>
                                <td>Slary Type</td>
                                <td>{{details.salarytype}}</td>
                            </tr>

                            <tr>
                                <td>Salary Duration</td>
                                <td>{{details.salaryduration}}</td>
                            </tr>

                            <tr>
                                <td>Salary Bracket</td>
                                <td>{{details.salarybracket}}</td>
                            </tr>
                            <tr>
                                <td>Expiry Date</td>
                                <td>{{details.expirydate}}</td>
                            </tr>
                            <tr>
                                <td>Joining Date</td>
                                <td>{{details.joiningdate}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td><label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                  </label></td>
                            </tr>

                            <tr>
                                <td>Offer Type</td>
                                <td>{{details.offertype}}</td>
                            </tr>
                             
                            
                            <tr>
                                <td>Group</td>
                                <td>{{details.group}}<button class="btn btn-primary pull-right" type="button" [routerLink]="['/employer/manage_group/group_details']">View Communication</button></td>
                                
                            </tr>

                            <tr>
                                <td>Commit Status</td>
                                <td>{{details.commitstatus}}</td>
                            </tr>

                            <tr>
                                <td>Location</td>
                                <td>{{details.location}}</td>
                            </tr>

                            <tr>
                                <td>Custom Field 1</td>
                                <td>{{details.customfeild1}}</td>
                            </tr>
                            <tr>
                                <td>Custom Field 2</td>
                                <td>{{details.customfeild2}}</td>
                            </tr>
                            <tr>
                                <td>Custom Field 3</td>
                                <td>{{details.customfeild3}}</td>
                            </tr>
                            <tr>
                                <td>Notes</td>
                                <td>{{details.notes}}</td>
                            </tr>
                           
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-sm btn-danger" style="float: right;"
                    (click)="cancel()">Cancel</button>
                    <button type="button" class="btn btn-sm btn-success mr-2" style="float: right;" (click)="edit()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
