<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Offers
                    <p class="pull-right"></p>
                    <i class="pull-right icon-plus" [routerLink]="['/employer/offers/add']"> Add
                        Offer</i>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Salary Type</th>
                                <th>Salary Bracket</th>
                                <th>Expiry Date</th>
                                <th>Joining Date</th>
                                <!-- <th>Status</th> -->
                                <th>Offer Type</th>
                                <th>Group</th>
                                <th>Commit Status</th>
                                <th>Custome Field 1</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let offer of offerData; let i = index;">
                                <td>{{offer.createdAt | date: 'dd/MM/yyyy': 'utc'}}</td>
                                <td>{{offer.title}}</td>
                                <td>{{offer.salarytype}}</td>
                                <td>{{offer.salarybracket.from}} to {{offer.salarybracket.to}}</td>
                                <td>{{offer.expirydate | date: 'dd/MM/yyyy': 'utc'}}</td>
                                <td>{{offer.joiningdate | date: 'dd/MM/yyyy': 'utc'}}</td>
                                <!-- <td>
                                    <p-inputSwitch></p-inputSwitch>
                                </td> -->
                                <td>{{offer.offertype}}</td>
                                <td>{{offer.group.name}}</td>
                                <td>{{offer.commitstatus}}</td>
                                <td>{{offer.customfeild[0].key}}</td>
                                <!-- <td> -->
                                <!-- <button type="button" class="btn btn-sm btn-success" (click)="detail(offer._id)"><i
                                            class="icon-eye"></i></button> -->
                                <!-- <button type="button" class="btn btn-sm btn-primary" (click)="edit(offer._id)"><i
                                            class="icon-pencil"></i></button> -->
                                <!-- <button type="button" class="btn btn-sm btn-danger" (click)="delete(offer._id)"><i
                                            class="icon-trash"></i></button> -->
                                <!-- </td> -->
                            </tr>
                        </tbody>
                        <tbody *ngIf="offerData?.length == 0">
                            <tr>
                                <td colspan="11" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>