<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" *ngIf="!hide_list">

                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Offers
                    <p class="pull-right"></p>
                    <!-- {{profileData[0].user_id |json }} -->
                    <button
                        *ngIf="userDetail.role === 'employer' || (userDetail.role === 'sub-employer' && profileData[0].user_id.admin_rights === 'yes')"
                        class="pull-right btn btn-sm btn-primary custom-margin" (click)="add()">
                        <i class="icon-plus"></i>
                        Add Offers
                    </button>

                </div>

                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table"
                        style="width:100%;">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Salary Type</th>
                                <th>Salary Bracket</th>
                                <th>Expiry Date</th>
                                <th>Joining Date</th>
                                <th *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">Offer
                                    Type</th>
                                <th *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">Group
                                </th>
                                <th *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">Current
                                    Status</th>
                                <!-- <th *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">Commit
                                    Status</th> -->
                                <th [ngClass]="first_custom_field === ''? 'd-0' : ''"
                                    *ngIf="(userDetail.role === 'employer' || userDetail.role === 'sub-employer')">
                                    {{first_custom_field |titlecase}}</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let offer of offerData; let i = index;">
                                <td>{{offer.createdAt | date: 'dd/MM/yyyy': 'utc'}}</td>
                                <td>{{offer.title}}</td>
                                <td>{{offer.salarytype|titlecase}}</td>
                                <td *ngIf="offer.salary">{{offer.salary}}</td>
                                <td *ngIf="offer.salary_from && offer.salary_to">
                                    {{offer.salary_from}} to {{offer.salary_to}}
                                </td>
                                <td>{{offer.expirydate | date: 'dd/MM/yyyy': 'utc'}}</td>
                                <td>{{offer.joiningdate | date: 'dd/MM/yyyy' : 'utc'}}</td>
                                <td *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">
                                    {{offer.offertype}}</td>
                                <td *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">
                                    {{ offer.group!=undefined && offer.group!='null'  ? offer.group.name : '-' }}</td>
                                <td *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">
                                    {{offer.status|titlecase}}</td>
                                <!-- <td *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'">
                                    {{offer.commitstatus|titlecase}}</td> -->
                                <td [ngClass]="first_custom_field === ''? 'd-0' : ''"
                                    *ngIf="(userDetail.role === 'employer' || userDetail.role === 'sub-employer')">

                                    <!-- {{ offer.customfeild[0].key === first_custom_field || offer.customfeild[0].value  ? offer.customfeild[0].value : '-'}} -->

                                    {{ offer.customfeild && offer.customfeild.length > 0 ? offer.customfeild[0].value : '-'}}
                                </td>
                                <td>

                                    <!-- <button *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'"
                                        type="button" class="btn btn-sm btn-primary" (click)="history(offer._id)"><i
                                        class="icon-pencil"></i></button> -->

                                    <button tooltip='View' type="button" class="btn btn-sm btn-success"
                                        (click)='detail(offer._id)'><i class="icon-eye"></i></button>

                                    <button tooltip='Edit'
                                        *ngIf="userDetail.role === 'employer' || (userDetail.role === 'sub-employer' && profileData[0].user_id.admin_rights === 'yes')"
                                        type="button" class="btn btn-sm btn-primary" (click)="edit(offer._id)"><i
                                            class="icon-pencil"></i></button>

                                    <button tooltip='History'
                                        *ngIf="userDetail.role === 'employer' || userDetail.role === 'sub-employer'"
                                        type="button" class="btn btn-sm btn-secondary" (click)="history(offer._id)"><i
                                            class="fa fa-history"></i></button>

                                    <button *ngIf="userDetail.role === 'candidate'" type="button" tooltip='Accept'
                                        class="btn btn-sm btn-primary" (click)="onAccept(offer._id)"
                                        [disabled]="offer.status === 'Accepted' || accept_btn">
                                        <i class="icon-check"></i></button>
                                </td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="offerData?.length == 0">
                            <tr>
                                <td colspan="12" class="no-data-available">No Offers Available!</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card" *ngIf="hide_list && userDetail.role === 'candidate'">
                <div class="card-body not_verified_block">
                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    <h1>{{Canididate_message}}</h1>
                </div>
            </div>

            <div class="card" *ngIf="hide_list && userDetail.role === 'employer'">
                <div class="card-body not_verified_block">
                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    <h1>{{message}}</h1>
                </div>
            </div>

        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>