.not_verified_block{
    text-align: center;
    padding: 100px 20px;
    i{
        font-size: 100px;
        color: red;
    }
}

.d-0 {
    display: none;
}

.text-decoration{
    size: 8px !important; 
    color: black !important;
    text-transform:initial !important; 
    text-align: center !important;
}