<div class="animated fadeIn">
    <div class="row" *ngIf="form">
      <div class="col-sm-12 col-md-12">
        <div class="card" >
          <div class="card-header">
            Employer Detail
            <i class="icon-close" [routerLink]="['/admin/employer_manage/view']"></i>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>First Name</td>
                  <td>{{name[0]}}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{name[1]}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{employer_detail.user_id.email}}</td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>{{employer_detail.country}}</td>
                </tr>

                <tr>
                  <td>Contact Number</td>
                  <td>{{employer_detail.countrycode}} {{employer_detail.contactno}}</td>
                </tr>

                <tr>
                  <td>Company</td>
                  <td>{{employer_detail.companyname}}</td>
                </tr>

                <tr>
                  <td>Website</td>
                  <td>{{employer_detail.website}}</td>
                </tr>

                <tr>
                  <td>Bussiness Type</td>
                  <td>{{employer_detail.businesstype}}</td>
                </tr>
              </tbody>
            </table>

            <div style="float: right;">
            <button type="button" *ngIf="!approval" class="btn btn-sm btn-success" (click)="approve()">Approve</button>
            <button type="button" *ngIf="approval" class="btn btn-sm btn-danger" (click)="unapprove()">Unapprove</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
