<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    Employer Detail
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>{{name[0]}}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{name[1] ? name[1] : '-'}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{country}}</td>
                            </tr>

                            <tr>
                                <td>Contact Number</td>
                                <td>{{employer_detail.countrycode}} {{employer_detail.contactno}}</td>
                            </tr>

                            <tr>
                                <td>Company</td>
                                <td>{{companyName}}</td>
                            </tr>

                            <tr>
                                <td>Website</td>
                                <td>{{website ? website : '-'}}</td>
                            </tr>

                            <tr>
                                <td>Bussiness Type</td>
                                <td>{{bussinessType}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="float: right;">
                        <!-- <button type="button" class="btn btn-sm btn-success" *ngIf="buttonValue != null"
                            (click)="onApproved(employer_detail.user_id._id)">{{buttonValue}}</button>
                        <button type="button" class="btn btn-sm btn-danger"
                            [routerLink]="['/admin/employers/approved_employer']">Cancel</button> -->
                        <div style="float: right;">
                            <button type="button" *ngIf="employer_type === 'New'" class="btn btn-md btn-success"
                                (click)="onApprove(employer_detail.user_id)">Approve</button>
                            <!-- <button type="button" *ngIf="approval" class="btn btn-sm btn-danger"
                                                        (click)="unapprove()">Unapprove</button> -->

                            <button type="button" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link2">Cancel</button>
                            <button type="button" *ngIf="employer_type === 'New'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link1">Cancel</button>
                            <!-- <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>