<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!-- view -->
            <div class="card" *ngIf="is_View">
                <div class="card-header">
                    <strong style="font-size: 20px;">Employer Details</strong>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>{{name[0]}}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{name[1] ? name[1] : '-'}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{country}}</td>
                            </tr>

                            <tr>
                                <td>Contact Number</td>
                                <td>{{employer_detail.countrycode}} {{employer_detail.contactno}}</td>
                            </tr>

                            <tr>
                                <td>Company</td>
                                <td>{{companyName}}</td>
                            </tr>

                            <tr>
                                <td>Website</td>
                                <td>{{website ? website : '-'}}</td>
                            </tr>

                            <tr>
                                <td>Bussiness Type</td>
                                <td>{{bussinessType}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="float: right;">
                        <!-- <button type="button" class="btn btn-sm btn-success" *ngIf="buttonValue != null"
                            (click)="onApproved(employer_detail.user_id._id)">{{buttonValue}}</button>
                        <button type="button" class="btn btn-sm btn-danger"
                            [routerLink]="['/admin/employers/approved_employer']">Cancel</button> -->
                        <div style="float: right;">
                            <button type="button" *ngIf="employer_type === 'New'" class="btn btn-md btn-success"
                                (click)="onApprove(employer_detail.user_id)">Approve</button>
                            <!-- <button type="button" *ngIf="approval" class="btn btn-sm btn-danger"
                                                        (click)="unapprove()">Unapprove</button> -->

                            <button type="button" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link2">Cancel</button>
                            <button type="button" *ngIf="employer_type === 'New'" class="btn btn-md btn-danger"
                                [routerLink]="cancel_link1">Cancel</button>
                            <!-- <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- view -->

            <!-- edit -->
            <div class="card" *ngIf="is_Edit">
                <div class="card-header">
                    <strong style="font-size: 20px;">Edit Details</strong>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="{{name[0]}}">
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="{{name[1] ? name[1] : '-'}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="{{email}}">
                        </div>
                        <div class="col-md-6">
                            <label>Country</label>
                            <input class="form-control" type="text" placeholder="{{country}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Contact Number</label>
                            <input class="form-control" type="text"
                                placeholder="{{employer_detail.countrycode}} {{employer_detail.contactno}}">
                        </div>
                        <div class="col-md-6">
                            <label>Company</label>
                            <input class="form-control" type="text" placeholder="{{companyName}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Website</label>
                            <input class="form-control" type="text" placeholder="{{website ? website : '-'}}">
                        </div>
                        <div class="col-md-6">
                            <label>Bussiness Type</label>
                            <input class="form-control" type="text" placeholder="{{bussinessType}}">
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-success"
                            (click)="Update(employer_detail.user_id)">Update</button>
                        <button type="button" *ngIf="employer_type === 'Approved'" class="btn btn-md btn-danger"
                            [routerLink]="cancel_link2">Cancel</button>
                    </div>
                </div>
                <!-- edit -->
            </div>
        </div>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>