<h2 style="text-align: center;">
    <b>Privacy Policy</b>
</h2>


<h6>Effective: February 12, 2019</h6>

<h6>Review Consent Preferences (EU user only)</h6>

<p>John Wiley & and its subsidiary and affiliate companies (collectively, “Wiley,” “we,” “us” or “our”) recognize
    the
    importance of protecting the personal information collected from users in the operation of its services and
    taking
    reasonable steps to maintain the security, integrity and privacy of any information in accordance with this
    Privacy
    Policy. By submitting your information to Wiley you consent to the practices described in this policy. If you
    are less
    than 18 years of age, then you must first seek the consent of your parent or guardian prior to submitting any
    personal
    information.</p>

<p>This Privacy Policy describes how Wiley collects and uses the personal information you provide to Wiley. It also
    describes the choices available to you regarding our use of your personal information and how you can access and
    update
    this information.</p>

<h6>How We Collect Information</h6>
<h6>Information You Provide</h6>
<h6>Information We Receive from Other Sources</h6>
<h6>Use of Your Information</h6>
<h6>Disclosure in Chat Rooms or Forums</h6>
<h6>Disclosure and Sharing of Your Information</h6>
<h6>Cross Border Transfers</h6>
<h6>Security</h6>
<h6>Cookies</h6>
<h6>Third-Parties</h6>
<h6>Your Rights</h6>
<h6>FERPA (US Only)</h6>
<h6>Recourse</h6>
<h6>Updates to This Privacy Policy</h6>
<h6>Additional Information Regarding Children’s Privacy</h6>
<h5>HOW WE COLLECT INFORMATION</h5>
<p>Wiley may collect personal information about you in the following ways: (1) directly from your verbal or written
    input
    (such as by consenting to receiving marketing emails); (2) automatically through Wiley’s website technologies
    including
    tracking online, such as by Web cookies (which are small text files created by websites that are stored on your
    computer), by smart devices, by combining data sets, by collecting data from a browser or device for use on a
    different
    computer or device, or by using algorithms to analyze a variety of data such as records of purchases, online
    behavioral
    data, or location data; or (3) by closed-circuit television (if visiting our premises).</p>

<h5>INFORMATION YOU PROVIDE</h5>
<p>The types of personal information that Wiley collects directly from you or through your use of our websites and
    services
    may include:
</p>
<p>The types of personal information that Wiley collects directly from you or through your use of our websites and
    services
    may include:
</p>>
<p>Internet Protocol (“IP”) addresses used to connect your computer to the Internet;</p>
<p>Educational and professional interests;</p>
Tracking codes such as cookies;
<p>Usernames and passwords;</p>
<p>Payment information, such as a credit or debit card number;</p>
<p>Comments, feedback, posts and other content you provide to Wiley (including through a Wiley website);
    Communication preferences;</p>
<p>Purchase and search history;</p>
<p>Location-aware services, the physical location of your device in order to provide you with more relevant content for
    your location;</p>
<p>Information about your personal preferences, and interests;</p>
<p>Communications with other users of Wiley’s services.</p>


<p>In order to access certain content and to make use of additional functionality and features of Wiley’s websites and
    services, we may ask you to register for an account by completing and submitting a registration form, which may
    request
    additional information.</p>

<p>If you choose to register and sign in by using a third-party account (such as your Facebook account), the
    authentication
    of your login is handled by the third party, and any personal information collected during that third-party login is
    not
    covered by this policy. Wiley will collect your name, email address and any other information about your third-party
    account that you agree to share with us at the time you give permission for your Wiley account to be linked to your
    third-party account.</p>

<h5>INFORMATION WE RECEIVE FROM OTHER SOURCES</h5>
<p>Wiley may receive information about you if you use any of the websites we operate or the other services we provide.
    We
    also work closely with third parties (including, for example, business partners and sub-contractors in technical,
    payment and delivery services; advertising networks; data and analytics providers; academic institutions; journal
    owners, societies and similar organizations; search information providers, and credit reference agencies) from whom
    Wiley may receive information about you.</p>

<h5>USE OF YOUR INFORMATION</h5>
<p>Wiley may use your personal information in the performance of any contract we enter into with you, to comply with
    legal
    obligations, or where Wiley has a legitimate business interest in using your information to enhance the services and
    products we provide. Legitimate business purposes include but are not limited to one or all of the following:
    providing
    direct marketing and assessing the effectiveness of promotions and advertising; modifying, improving or
    personalizing
    our services, products and communications; detecting fraud; investigating suspicious activity (e.g., violations of
    our
    Terms of Service, which can be found here) and otherwise keeping our site safe and secure; and conducting data
    analytics.</p>

<h5>DISCLOSURE AND SHARING OF YOUR INFORMATION</h5>
<p>Wiley will not disclose to or share your personal information with any unaffiliated third party except as follows</p>

<h5>CROSS BORDER TRANSFERS</h5>
<p>Wiley may transfer your personal information outside of your country of residence for the following reasons:</p>

<h5>SECURITY</h5>
<p>We will use appropriate physical, technical and administrative safeguards to protect your data. Access to your
    personal
    data will be restricted to only those who need to know that information and required to perform their job function.
    In
    addition, we train our employees about the importance of maintaining the confidentiality and security of your
    information.
</p>
<h5>DISCLOSURE IN CHAT ROOMS OR FORUMS</h5>
<p>You should be aware that identifiable personal information — such as your name or e-mail address — that you
    voluntarily
    disclose and that is accessible to other users (e.g. on social media, forums, bulletin boards or in chat areas)
    could be
    collected and disclosed by others. Wiley cannot take any responsibility for such collection and disclosure.</p>

<h5>COOKIES</h5>
<p>As is true of most websites, we gather certain information automatically. This information may include IP addresses,
    browser type, Internet service provider (“ISP”), referring/exit pages, the files viewed on our site (e.g., HTML
    pages,
    graphics, etc.), operating system, date/time stamp, and/or clickstream data to analyze trends in the aggregate and
    administer the site.</p>

<h5>YOUR RIGHTS</h5>
<p>You have the right to make a written request to be informed whether or not we hold or process any of your personal
    information (by emailing privacy@wiley.com). In your written request</p>

<h5>THIRD-PARTIES</h5>
<p>Wiley’s websites or services may include links to third-party websites. In using such links, please be aware that
    each
    third-party website is subject to its own privacy and data protection policies and is not covered by our Privacy
    Policy.
    In addition, we allow third-party companies to serve ads and/or collect certain anonymous information when you visit
    our
    websites. These companies may be placing and reading cookies in the cookie file of the browser on your computer’s
    hard
    disk or using web beacons or other technologies to collect information in the course of ads being served on this
    website. These companies may use information other than personal information (e.g., click stream information,
    browser
    type, time and date, subject of advertisements clicked or scrolled over) during your visits to these and other
    websites
    in order to provide advertisements about goods and services likely to be of greater interest to you.</p>

<h5>FERPA</h5>
<p>Please see Wiley’s policy regarding FERPA here.</p>

<h5>RECOURSE</h5>
<p>Any comments, complaints or questions concerning this policy or complaints or objections about our use of your
    personal
    information should be addressed by directing your comments to Wiley’s Data Protection Officers, whose contact
    information is found here.
</p>