<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          Employer Detail
          <i class="icon-close" [routerLink]="['/employer/view']"></i>
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td>First Name</td>
                <td>abc</td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>pqr</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>abc@gmail.com</td>
              </tr>
              <tr>
                <td>Dasignation</td>
                <td>ass.HR</td>
              </tr>

              <tr>
                <td>Avatar</td>
                <td><img src="assets/img/220px-User_icon_2.svg.png" style="height: 80px"></td>
              </tr>
            </tbody>
          </table>

          <div style="float: right;">
          <button type="button" *ngIf="!approval" class="btn btn-sm btn-success" (click)="approve()">Approve</button>
          <button type="button" *ngIf="approval" class="btn btn-sm btn-danger" (click)="unapprove()">Unapprove</button>


          <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
