<header class="header static-page-header">
    <div class="container">
        <div class="d-flex">
            <div class="hirecommit-logo"><a href=""><img src="assets/img/new-logo.png" alt="" /></a></div>
            <div class="candidate-employer">
                <a class="active">Candidate</a>
                <a href="http://employer.hirecommit.com">Employer</a>
            </div>
            <div class="login-signup">
                <!-- <a href="http://hirecommit.com/login">Login</a> -->
                <a [routerLink]="['/login']">Login</a>
                <span>-</span>
                <!-- <a href="http://hirecommit.com/candidate_register">Sign up</a> -->
                <a [routerLink]="['/candidate_register']">Sign up</a>
            </div>
        </div>
    </div>
</header>


<div class="static-page">
    <section class="header-bluepart">
        <div class="container">
            <div class="d-flex">
                <div class="header-bluepart-l">
                    <h1>
                        <small>Give yourself the edge, </small><strong> HireCommit edge</strong>
                    </h1>
                    <div class="sign-up-form">
                        <form class="d-flex">
                            <input type="text" name="" placeholder="Enter your personal email" />
                            <button type="submit">Sign up now</button>
                        </form>
                    </div>
                    <h4>Companies prefer candidates who are committed to joining after accepting offer. Once you
                        HireCommit
                        or you are willing to HireCommit it boosts your profile and results in favorable discussions
                        with
                        Companies looking to hire you.</h4>
                    <h4>You can receive multiple offers on HireCommit, only once you accept an offer you are committing
                        to
                        that Company.</h4>
                </div>
                <div class="header-bluepart-r">
                    <img src="assets/img/candidate-img01.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>

    <section class="boxes-section">
        <div class="container">
            <ul class="d-flex four-box">
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-01.png" alt="" /></span>
                        <h3>Signup for free</h3>
                        <p>Register online for free; all we need is a few necessary details. Once we have verified your
                            identity documents, your profile will become active.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-02.png" alt="" /></span>
                        <h3>Receive offers </h3>
                        <p>Tell companies & recruiters you are HireCommit'd and give yourself an edge. Have favorable
                            discussions and receive offers from companies via HireCommit. You can receive multiple
                            offers on HireCommit; there is absolutely no restriction.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-03.png" alt="" /></span>
                        <h3>Accept offer</h3>
                        <p>Review your offer(s) from companies and select one. Once you are ready to accept, you will
                            have
                            to consent to the terms if it's a HireLock offer. HireLock only comes into effect after you
                            accept an offer. There is no restriction on no. of offers you can receive.</p>
                    </div>
                </li>
                <li>
                    <div class="boxes-section-div">
                        <span><img src="assets/img/icon-04.png" alt="" /></span>
                        <h3>Join Company</h3>
                        <p>That's it, join the company, and enjoy a rewarding career. HireCommit boosts your profile,
                            and
                            companies look at you in a different light.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="data-security">
        <div class="container">
            <div class="d-flex">
                <div class="data-security-l">
                    <h2 class="mobile-view">
                        <strong>Confidentiality & Data Security</strong>
                    </h2>
                    <img src="assets/img/employer-img04.jpg" alt="" />
                </div>
                <div class="data-security-r">
                    <h2 class="mobileview-none">
                        <strong>Confidentiality & Data Security</strong>
                    </h2>
                    <p>Receive multiple offers on HireCommit; no information shared with any company. Only once you
                        accept a HireLock offer
                        after consenting to terms and don’t join information is made available to future prospective
                        employers on HireCommit
                        platform.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="transparency">
        <div class="container">
            <div class="transparency-bg d-flex">
                <h2><small>2-Way</small><strong> Transparency</strong></h2>
                <p>Candidates fully briefed about terms and conditions, consent taken before candidate accepts <br />
                    HireLock
                    offer. System enables fair issue resolution in case of a conflict. </p>
            </div>
        </div>
    </section>

    <section class="support-identity">
        <div class="container">
            <div class="d-flex">
                <div class="support-identity-l">
                    <h2 class="mobile-view">
                        <small>Continuous</small>
                        <strong>support & identity verification</strong>
                    </h2>
                    <img src="assets/img/employer-img06.jpg" alt="" />
                </div>
                <div class="support-identity-r">
                    <h2 class="mobileview-none">
                        <small>Continuous</small>
                        <strong>support & identity verification</strong>
                    </h2>
                    <p>HireCommit provides prompt redressal of issues to both candidates and organizations. Candidates
                        and organizations need to provide documentary evidence in case of a dispute. We verify that
                        multiple profiles of a candidate don’t exist. We vet organizations before they can send offers.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>


<footer class="footer">
    <div class="container">
        <div class="d-flex">
            <div class="copyright">
                <p>© Copyright <a [routerLink]="['/']">HireCommit</a> - 2019 | All Rights Reserved.</p>
            </div>
            <!-- <div class="contact-link"><a [routerLink]="['/']">Contact us</a></div> -->
            <div class="contact-link">
                <a [routerLink]="['aboutus']" target="_blank">About us</a>
                <a [routerLink]="['contactus']" target="_blank">Contact us</a>
            </div>
        </div>
    </div>
</footer>