<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Change Password</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="oldpassword">Old Password</label>
            <div class="col-md-4">
                <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Enter Old Password..">
                <!-- <span class="help-block">Please enter your password</span> -->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="newpassword">New Password</label>
            <div class="col-md-4">
              <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="Enter New Password..">
              <!-- <span class="help-block">Please enter your password</span> -->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="confirmnewpassword">Confirm New Password</label>
            <div class="col-md-4">
              <input type="password" id="confirmnewpassword" name="confirmnewpassword" class="form-control" placeholder="Re-Enter New Password..">
              <!-- <span class="help-block">Please enter your password</span> -->
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-sm btn-primary"> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"> Reset</button>
      </div>
    </div>
</div>
