<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <strong>Reset Password</strong>
              </div>
              <div class="card-body">
                <form [formGroup]="form" class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password">New Password</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" placeholder="Enter Password.."
                        [(ngModel)]="formData.password" name="password" formControlName="password">
                      <div class="error" *ngIf="!form.controls['password'].valid && isFormSubmitted">
                        <span *ngIf="form.controls['password'].errors['required']">Password is required.</span>
                        <span *ngIf="form.controls['password'].errors['minlength']">Password must be more then 8
                          characters.</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="confirmpassword">Confirm New Password</label>
                    <div class="col-md-9">
                      <input type="password" class="form-control" placeholder="Enter Password.."
                        [(ngModel)]="formData.confirmpassword" name="confirmpassword" formControlName="confirmpassword">
                      <div class="error" *ngIf="!form.controls['confirmpassword'].valid && isFormSubmitted">
                        <span *ngIf="form.controls['confirmpassword'].errors['required']">Password is required.</span>
                        <span *ngIf="form.controls['confirmpassword'].errors['mismatch']">Password and confirm password
                          should be same.</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="button" class="btn btn-primary px-4" (click)="confirm(form.valid)">Confirm</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>