<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <strong>Reset Password</strong>
              </div>
              <div class="card-body">
                  <form [formGroup]="form" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="password">New Password</label>
                      <div class="col-md-9">
                        <input type="password" class="form-control" placeholder="Enter Password.." formControlName="password">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="confirmpassword">Confirm New Password</label>
                      <div class="col-md-9">
                        <input type="password" class="form-control" placeholder="Enter Password.." formControlName="confirmpassword">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button type="button" class="btn btn-primary px-4" (click)="confirm()">Confirm</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
